[2022-03-24 16:17] estellecomment opened #16 "Test issue"
### Steps to reproduce

1. Where are you starting? What can you see?
2. What do you click?
3. More steps…

### Outcome

#### What did you expect?

#### What happened instead?

### Operating system

_No response_

### Browser information

_No response_

### URL for webapp

_No response_

### Application version

_No response_

### Homeserver

_No response_

### Will you send logs?

No

[2022-03-24 16:22] estellecomment opened #17 "test issue"
### Your use case

#### What would you like to do?

#### Why would you like to do it?

#### How would you like to achieve it?

### Have you considered any alternatives?

_No response_

### Additional context

_No response_

[2022-03-28 07:52] celiacheff opened #20 "Fix Register"
Registration screen actually ask for userneme + email, and also due to custom translation, display 2 times email
![2022-03-28_09-50](https://user-images.githubusercontent.com/4281516/160351749-d8c5cca0-94dd-4292-999a-9d22d89dfa6e.png)
.

[2022-03-29 14:02] estellecomment opened #25 "[Sprint goal] new conventions : Minimize work time and delays"
### Your use case

When opening new conventions, it takes too much work for the bizdev team, and the delay for users is too long.

### Have you considered any alternatives?

_No response_

### Additional context

_No response_

[2022-03-29 15:41] estellecomment opened #26 "[Sprint goal] perte de clés : Modifier le client web v2 pour aider à la compréhension"
Changements de texte surtout, peut etre des autres petites modifs ?
Se mettre au service de Caro.

 - faire des review apps sur les PRs de Caro pour regarder le resultat. (tache de dev)
 - pour implémenter la version anglaise aussi : ca va etre chelou d'avoir un fichier en.json avec des traductions anglais-element vers anglais-tchap. Est-ce qu'on peut eviter, au moins pour certaines translations ?

[2022-03-29 16:20] estellecomment opened #27 "[Sprint goal] assurer le support d'Audioconf"
En mettant en route l'instance de chatwoot.
- [ ]  Vérifier les envois et réceptions de messages - Estelle
- [ ]  Nom de domaine - Calev
- [ ] Prise en main avec l'équipe - Calev
- [ ]  Mise à jour ?

[2022-03-31 09:28] estellecomment commented on #25
Juliette doit faire une liste de problèmes priorisée, et nous pinger quand c'est fini.

[2022-03-31 12:56] estellecomment opened #29 "[Sprint goal] Faire une liste des features de Tchap, priorisée"
Quelles sont les différences entre Tchap et Element que nous allons devoir implémenter ?
Prioriser ce qui apporte le plus de valeur à l'utilisateur, pour implémenter dans l'ordre.

Liste en cours des différences: https://www.notion.so/Diff-rences-entre-Element-et-Tchap-329cf4d20ce840a3b53e29dd2d76f0f0

[2022-04-01 08:23] estellecomment opened #32 "CORS error when calling backend"
Probably when trying to get the list of rooms for the space, on the space home page (but could be somewhere else)

Error :
Access to XMLHttpRequest at 'https://matrix.i.tchap.gouv.fr/_matrix/client/v1/rooms/!WchQQCfkUFCpZYmTGe%3Ai.tchap.gouv.fr/hierarchy?suggested_only=true&max_depth=1&limit=20' from origin 'https://app.preprod.tchap.incubateur.net' has been blocked by CORS policy: No 'Access-Cont

[2022-04-01 15:04] estellecomment opened #33 "test issue"
### Steps to reproduce

1. Where are you starting? What can you see?
2. What do you click?
3. More steps…
dd

### Outcome

#### What did you expect?

#### What happened instead?
dd

### Operating system

_No response_

### Browser information

_No response_

### URL for webapp

_No response_

### Application version

_No response_

### Homeserver

_No response_

### Will you send logs?

No

[2022-04-01 15:43] estellecomment opened #36 "test test"
### Steps to reproduce

1. Where are you starting? What can you see?
2. What do you click?
3. More steps…

### Outcome

#### What did you expect?

#### What happened instead?

### Operating system

_No response_

### Browser information

_No response_

### URL for webapp

_No response_

### Application version

_No response_

### Homeserver

_No response_

### Will you send logs?

No

[2022-04-01 16:19] estellecomment opened #37 "test"

[2022-04-05 10:24] estellecomment commented on #25
Tache actuelle pour Estelle : parler à Ishan et Florian et Raph d'etalab, pour évaluer si la solutions qu'ils proposent est operationnelle des maintenant, et si elle repond dans le detail à ce qu'on veut.

[2022-04-05 13:25] celiacheff commented on #26
Tasks so far:

- [x] Add a modal after signout
- [x] Various translations / wording
- [x] Change import keys behavior by closing all popups after import
- [ ] Show/hide password feature (need to check security concerns)

Source: [Miro](https://miro.com/app/board/o9J_lxa1Nm0=/)

[2022-04-06 09:12] celiacheff commented on #26
Addendum:
- [x] Add a link to upload keys to unlock messages

[2022-04-06 12:48] estellecomment commented on #27
Finalement, pas de chatwoot : on a des pb avec des infos persos dans les logs (pas terrible pour la protection des donnees des utilisateurs), et des emails qui n'arrivent parfois pas (pas terrible, ca peut laisser des utilisateurs sans reponse).

On a lancé un crisp. Techniquement c'est bon, je reste en contact avec Nivann pour la prise en main du projet.

[2022-04-06 12:48] #27 closed, assigned to estellecomment, celiacheff

[2022-04-07 09:54] Caroline-lawson commented on #26
Ressource Miro pour les captures d'écran et les textes : https://miro.com/welcomeonboard/WDRMMk9hbDBEUnVWWGNaS3lDOXZQNmhpbnEwZG9UQXRxT3M0QlM3RE15T0dXUkZyeEkza293RjNzMEh1bjRsOHwzMDc0NDU3MzQ4Nzg3NTYwODk3?invite_link_id=451176937770

[2022-04-07 09:54] areox-net commented on #26
Voici ma proposition des 3 modales à proposer à la déconnexion et exporter ses Clé Tchap. Nous allons affiner les textes avec @Caroline-lawson et metre à jour les planches Figma.

1.Deconnexion
![Modale-LogOut](https://user-images.githubusercontent.com/1255251/162172064-3093e04e-94d5-4462-a874-aa57c4f5703a.png)

2. Sauvegarde des clés
![Modale-SaveKeys](https://user-images.githubusercontent.com/12

[2022-04-07 20:23] Caroline-lawson commented on #26
Changement de texte pour 1. Déconnexion :

**Sauvegardez vos Clés Tchap avant de vous déconnecter**

**Sans vos Clés Tchap, vous ne pourrez pas lire vos messages** à votre prochaine connexion parce qu'ils seront verrouillés. C'est une mesure de sécurité Tchap.

**Vous pouvez actuellement lire vos messages sur un autre appareil ?**
Vous pouvez vous déconnecter. Cet autre appareil sauvegarde automat

[2022-04-08 12:36] areox-net commented on #26
Maquette à jour sur Figma https://www.figma.com/file/3qu9dfXgLomL6u04mpaTip?node-id=0:1#177270696

![Modale-LogOut](https://user-images.githubusercontent.com/1255251/162436832-f447b594-6e26-4a9e-b888-48e2c0f9fff4.png)

[2022-04-08 13:05] estellecomment opened #40 "In a Space, "Failed to load list of rooms""
### Steps to reproduce

1. Go to space's home. You see error "Failed to load list of rooms" and you don't see the list of rooms.

![image](https://user-images.githubusercontent.com/911434/162441349-69a56814-ccc8-4120-8b6b-a45a87d34220.png)

### Outcome

#### What did you expect?
See the list of rooms.
#### What happened instead?
No rooms.

### Operating system

_No response_

### Browser informati

[2022-04-11 09:56] estellecomment commented on #25
Done pour ce sprint : l'outil sera demarches simplifiees.
Les prochaines taches seront de user tester le formulaire, et le linker depuis la landing page.

[2022-04-11 09:56] #25 closed, assigned to estellecomment

[2022-04-11 10:25] celiacheff opened #42 "Add possibility to see typed password in Export Keys dialog"
### Your use case

#### What would you like to do?
Hide/show password typed in Export Keys dialog

#### Why would you like to do it?
Show briefly the password to check for mistakes
Some users have it hard to type their password right two times, especially with secure/long passwords

#### How would you like to achieve it?
Little "eye icon" at the end of the fields (there is a lot of solutions/varia

[2022-04-11 14:35] celiacheff opened #43 "[PoC] External SSO server (login/register)"
### Your use case

#### What would you like to do?
Use an SSO provider to manage users (login / register)

#### Why would you like to do it?
Easier to have control over the login and register flow
Remove the need of a certificate for Android devices.
Single Identity Server

#### How would you like to achieve it?
External app

### Have you considered any alternatives?

_No response_

### Additional

[2022-04-11 15:20] estellecomment opened #44 "Extract common config for all environments"
### Your use case

#### What would you like to do?
Most fields in config are the same in all env (prod and preprod). These fields should live in a single file, and not be repeated in all files (config.preprod.json, config.prod.json), so that there is a single source of truth, and they always stay in sync.

#### Why would you like to do it?
To avoid having differences appear by mistake between prod

[2022-04-12 13:24] celiacheff opened #46 "[Sprint Goal] Avancer Tartine : design technique d'une feature"
Faire le design technique d’une feature à choisir

Objectif bonus : implémentation

Le design doit être fait avec précautions, pour éviter le plus possible de modifier Elément. Checker avec Travis qu’on utilise la bonne méthode.

[2022-04-12 13:36] celiacheff opened #47 "[Sprint Goal] User testing des pb de clés, avecCaro"
Mener des tests utilisateurs des scénarios suivants sur web :
- je veux me déconnecter
- je veux déverrouiller mes messages

[2022-04-12 13:37] celiacheff opened #48 "[Sprint Goal] User testing demarches-simplifiees"
User-tester et peaufiner le formulaire Démarches Simplifiées pour les nouvelles conventions

[2022-04-12 14:38] estellecomment commented on #29
Pour le sprint du 12 avr, on doit choisir une feature à implémenter.

[2022-04-12 15:29] celiacheff commented on #26
Show/hide password feature (need to check security concerns) -> was added on the way, I won't do it in this sprint, it needs to be prioritized and re-added to backlog in needed

[2022-04-12 15:29] #26 closed, assigned to celiacheff

[2022-04-12 15:49] estellecomment commented on #46
Une feature simple pour commencer : création de room.

  - [x] où est le composant existant à remplacer, dans le code element ?
  - [x] quel code on va écrire ? Quels appels serveur, quel composant, etc (s'inspirer du code tchap de v2, et de element)
  - [x] quelle methode de customisation utiliser ? (webpack file replacement, customisations, autre ? Checker avec Travis)
  - [ ] Optionnel : les ex

[2022-04-13 15:30] celiacheff commented on #46
WIP:
J'ai effectué une recherche sur le sujet, et testé un peu le component. Ce que j'ai appris:

#### Component incriminé (et autres fichiers utiles)
v4 et en version js en v2:
  - le composant: matrix-react-sdk/src/components/views/dialogs/CreateRoomDialog.tsx
  - matrix-react-sdk/src/createRoom.ts
  - matrix-js-sdk/src/client.ts

#### Code à écrire
- Le code de v2 est assez simple, mais un gros

[2022-04-14 09:00] estellecomment opened #49 "Key exchange broken, sometimes"
### Steps to reproduce

Sometimes (don't know how to reproduce) key exchange doesn't work.

 - The client with keys gets a notification "Your unverified device blabla is requesting verification". I click it to start the sharing.
 - The new client starts the process, I click ok, the new client displays the emoji.
 - The client with keys displays "The other party cancelled the verification"

https:/

[2022-04-14 09:22] estellecomment opened #50 "Github action does not add new issues to the "New issues" colo"
### Steps to reproduce

1. create new issue
It gets added to Tchap all issues, but not to the "New issues" column

### Outcome

#### What did you expect?
Issue should go in "new issues".
Instead, it went in "no status" (no column assigned)

### Operating system

_No response_

### Browser information

_No response_

### URL for webapp

_No response_

### Application version

_No response_

### Hom

[2022-04-14 09:24] estellecomment commented on #46
Brain dump de Giom sur ce sujet, dans https://www.notion.so/Diff-rences-entre-Element-et-Tchap-329cf4d20ce840a3b53e29dd2d76f0f0#f54d6d57743d497aafce90935e0c0044.
Je nettoie mes notes pour vous les transmettre.

[2022-04-15 09:28] estellecomment commented on #46
Details d'implementation (pas forcément exhaustif):

 - Notre dropdown choisira TchapRoomType (comme [celui d'android](https://github.com/tchapgouv/tchap-android/blob/develop/vector/src/main/java/fr/gouv/tchap/core/utils/RoomUtils.kt#L22)), alors que celui d'element choisit JoinRule.

 - Les options qu'on devra spécifier au moment de la room creation sont dans CreateRoomDialog.tsx, this.roomCreate

[2022-04-15 09:41] estellecomment commented on #46
Les [points de customisations proposées par element](https://github.com/matrix-org/matrix-react-sdk/tree/develop/src/customisations) n'ont pas l'air de couvrir ce qu'on veut. Donc je pense pas qu'on pourra utiliser customisations.

Du coup, c'est webpack file replacement, il reste que ca (puisque replaceableComponent est deprecated)

[2022-04-15 12:13] estellecomment commented on #46
Précision sur domain et federate :
 - les salons sont tjs federated=true (c'est a dire les users de toutes les instances peuvent les rejoindre)
 - les forums laissent federated au choix de l'utilisateur : on peut limiter à l'instance de l'utilisateur, ou non.
    - exception pour les utilisateurs de l'instance `agent` qui n'ont que des forums federated (??? a verifier) Edit : parce que les users d

[2022-04-19 08:51] odelcroi opened #53 "Create Room à la Tchap"
### Create a new room in tchap

#### What would you like to do?
As a logged user, I would like to create a new room within Tchap environment

#### Why would you like to do it?
Tchap users can only create 3 types of rooms :
- private room : encrypted, only invite, federated
- private room with external users : same than private room but "external users" can be invited
- public room (called forum) :

[2022-04-19 14:58] estellecomment opened #55 "Add unit tests for Room Creation"
Reuse the test setup that element has, and write a new unit test for TchapCreateRoomDialog.

Sprint goal : https://github.com/tchapgouv/tchap-web-v4/issues/46

[2022-04-19 14:59] estellecomment opened #56 "Meet with Element to show our implementation of Room creation"
Sprint goal : https://github.com/tchapgouv/tchap-web-v4/issues/46

[2022-04-20 08:09] JDixmier commented on #48
Je propose de centraliser les retour utilisateurs ici :
https://www.notion.so/User-Tests-du-Formulaire-d-ouverture-91f15f3ec2c146d5ac831cca90daa5b5

[2022-04-21 08:45] odelcroi commented on #55
I see multiple tests requirements for this use case :
- [x] non react component : I've created a separate file for the room creation function, it allows to unit-test easily (no react context needed, pure ts).

- [x] react component events and renders : test component state update based on user input
- [ ] test view rendering (html..) with snapshots (todo)
- [ ] end to end tests including in matrix

[2022-04-21 10:26] odelcroi commented on #55
In order to run the UT properly we need to "yarn link" the matrix-react-sdk-v4, I managed to do it locally like this
⚠️ Beware to unlink previous version of  matrix-react-sdk before ⚠️

- checkout project matrix-react-sdk-v4, tag element-v3.42.0
- yarn link

I set in package.json :
    "matrix-react-sdk": "github:tchapgouv/matrix-react-sdk-v4#ac3a907",
- yarn link matrix-react-sdk
- yarn test

Bef

[2022-04-22 07:47] odelcroi commented on #55
Though, I am not able to run the tests within the folder /node_modules/matrix-react-sdk/test/..

It does not seem trivial : https://github.com/facebook/jest/pull/11084 -> it should be allowed in jest 28 (now using jest 26)

[2022-04-25 16:00] estellecomment commented on #46
Première version mergée !
Reste à faire :
 - [ ] Undo les changements d'interface sur le toggle de federation. Pour décider de changer, il faudrait faire des user tests pour vérifier que c'est utile, et aligner tous les clients sur le changement. (discussion en cours là : https://github.com/tchapgouv/tchap-design/issues/73) Donc pour le moment on revient à l'identique de v2.
 - [ ] Le comportement

[2022-05-02 08:35] #47 closed, assigned to nobody

[2022-06-13 15:35] estellecomment opened #63 "Feat : Hide new DM until both user accounts are created ("U no write befor fren join")"
Description of the problem :
User1 has an account. User2 does not.
User1 invites user2 by email into a DM. DMs in Tchap are always encrypted.
User1 starts writes a message. It is encrypted, but user2's account does not exist yet.
User2 creates their account and joins the DM. They cannot decrypt the message.
-> we need to stop user1 from writing before user2 has joined, to avoid the creation of un-

[2022-06-13 15:43] estellecomment commented on #63
Rebasing Tartine to element-web 1.10.14 (PR https://github.com/tchapgouv/tchap-web-v4/pull/62) we see :

User1 sees :
![Screen Shot 2022-06-13 at 17 35 53](https://user-images.githubusercontent.com/911434/173391371-f78c9dc5-6c1d-4eae-bce8-1c2695363622.png)

User2 sees :
![Screen Shot 2022-06-13 at 17 36 08](https://user-images.githubusercontent.com/911434/173392536-08a7b996-2092-4c6f-81df-99ec1ad9

[2022-06-13 15:47] estellecomment commented on #63
Question : for the user experience, is it better or worse to display the DM but block the writing (with a message explaining why you can't write), instead of not displaying the DM at all ?

[2022-06-14 13:31] estellecomment commented on #63
Interesting files to look at in element-web : [MessageComposer.tsx](https://github.com/matrix-org/matrix-react-sdk/blob/develop/src/components/views/rooms/MessageComposer.tsx) (the component where the user types text) and [RoomView.tsx](https://github.com/matrix-org/matrix-react-sdk/blob/develop/src/components/structures/RoomView.tsx) (the middle part of the screen, which displays all the messages

[2022-06-14 20:23] giomfo commented on #63
@estellecomment FYI https://github.com/vector-im/element-meta/issues/372 is the related issue where I discuss about this topic with Element team

[2022-06-20 15:06] estellecomment commented on #63
Proposed interface which still allows for multi-user DM (which is a feature in Element, but not allowed in Tchap). This is not final, it's a just a bunch of copy-pasted screenshots :)

Before the two invited users have created their account : message bar disabled, replaced by an explanatory message (inspired by the interface for previewing a room, which also blocks writing messages)
![blocked_DM_1

[2022-06-20 15:08] estellecomment commented on #63
@areox-net

[2022-06-20 15:38] areox-net commented on #63
@estellecomment I think the idea is good. The message could also simply be "Waiting for .... to accept invitation".
Long text may not fit on mobile.

[2022-06-22 08:22] odelcroi opened #64 "Create an environment for internal beta testers"
The internal team of tchap should early beta test the web client.

- [x] create a nice url
- [x] #71

### Your use case

#### What would you like to do?

#### Why would you like to do it?

#### How would you like to achieve it?

### Have you considered any alternatives?

_No response_

### Additional context

_No response_

[2022-06-22 08:24] #17 closed, assigned to nobody

[2022-06-22 08:25] #29 closed, assigned to nobody

[2022-06-23 13:29] estellecomment opened #65 "Element's CI checks are broken"
Our tchap customisation files break some of element's CI checks on PRs. See for example : https://github.com/tchapgouv/tchap-web-v4/pull/62

 - type check : our files contain sdk.getComponent instead of imports (which seem not to work in customisations), and getComponent is not found.
  - i18n check : our files add custom translations, which we implement in tchap_translations.json, to keep them cl

[2022-06-23 13:50] estellecomment opened #66 "Excessive "New version available" message"
The message announcing a new version, with a button for upgrading, keeps showing up for no reason.
There is probably something wrong with the way the versions are managed, so that there is a mismatch between what the version checker sees and what it thinks is the current version. Something like that.

Places to look :
 - the /version file : where is it written ? Does that write happen properly in

[2022-06-24 07:34] celiacheff commented on #65
Should we report this back to Element's team ?

[2022-06-24 10:09] estellecomment commented on #65
We can. The CI works for element-web, but not with customisations added. So I guess it's a problem with customisations+CI.

[2022-06-28 13:00] estellecomment opened #71 "Disable spaces creation"
- [x] #104
- [x] disable : le bouton de creation de space
- [x] fix bug in element-web : remove the remaining space-creation button : https://github.com/matrix-org/matrix-react-sdk/pull/9129
- [x] #107

[2022-06-28 13:03] estellecomment opened #72 "Members of room appear greyed out because everybody is considerated offline"
~~je pense que c’est les couleurs qu’on a mal définies, on doit pouvoir fixer sans trop de pb~~ (en fait non)
![Screen Shot 2022-07-06 at 11 50 27](https://user-images.githubusercontent.com/911434/177523474-a2a5787b-dbc2-4955-ab1f-0078b9214354.png)

Lorsqu'on affiche les membres d'un salon, les utilisateurs sont affichés en gris. C'était une feature qui n'était pas dans V2. On pourrait la laisser

[2022-06-28 13:21] estellecomment opened #73 "Disable "Home" bar ? Clarify"
Home bar  :
![Screen Shot 2022-07-06 at 09 56 24](https://user-images.githubusercontent.com/911434/177499917-2492102c-651a-4347-9d36-6cb767ae679c.png)

Supprimer la barre “accueil” ? ( les éléments sont déjà présent ailleurs )
    - les actions qu’elle propose sont deja dispo plus bas (inutile)
    - elle propose de disable/enable “Show all rooms”
        - → c’est pas un pb. Les gens ont le droit

[2022-06-28 13:28] estellecomment opened #74 "Notifications 🔔 : what is it ? Should we hide it ?"
Clicking the bell shows notification panel. It seems to be always empty.
What should it be doing ?
If we don't use it or if it is broken, we should hide it.
It was already present in V2, but it was harder to see, so we hadn't noticed it.

[2022-06-28 13:39] estellecomment opened #75 "Disable Location (fr: Localisation)"
Because we have no map server.
We do not use the default map server, because we need to own all data exchanges for security.

Mobile clients have disabled it as well.

[2022-06-28 13:42] estellecomment opened #76 "Polls : disable creation until all clients have it"
Currently in android poll creation is blocked. If a poll is present, it is shown.
The created polls are invisible in V2 : no compatibility.

[2022-06-28 13:48] estellecomment opened #77 "How to implement Forum directory ?"
See discussion in https://github.com/tchapgouv/tchap-backend/issues/2

[2022-06-28 13:51] estellecomment opened #78 "Be sure that people Liste rouge aren't visible"
If you cannot change your liste rouge status, but the search results do respect the liste rouge status, then this is good enough for a beta version.
Investigate.

[2022-06-28 14:02] estellecomment commented on #53
Done

[2022-06-28 14:02] #53 closed, assigned to nobody

[2022-06-28 14:03] #48 closed, assigned to nobody

[2022-06-28 14:23] estellecomment opened #79 "Invite by email : Trigger duplicate DM with the same user"
At least one broken feature :
 - Create a DM with an existing user.
 - Create another DM with the same user, by email
 - the 2nd DM is created. The user is properly displayed (the matrixID has been found). You now have two identical DMs with the same person.

 Why is this happening ? The Identity Server should be doing the lookup of the email, to find the corresponding matrixId. It doesn't do it b

[2022-07-01 10:02] estellecomment commented on #75
We have added etalab's map server as an experiment in #81 . https://openmaptiles.geo.data.gouv.fr/

Their service gives no guarantees of performance/availability, and is not homologué.
Etalab thinks it would make more sense if IGN provided this service.
Documentation and links to IGN services : https://guides.etalab.gouv.fr/apis-geo/3-tuiles-vecteur.html#comment-utiliser-les-tuiles-vectorielles-d-

[2022-07-01 10:21] estellecomment commented on #66
In logs : `startUpdater, current version is !!UNSET!!`

The value is in `process.env.VERSION`. In the webpack config :
[code]

We need to set the VERSION env var on scalingo.

The deploy script package-scalingo-prod.sh does find the right version number in `$version`, but doesn't export it to VERSION.
Find where this is done in element's build, and add it at the same place, or in package-scalingo-

[2022-07-06 07:45] #46 closed, assigned to estellecomment, odelcroi, celiacheff

[2022-07-06 07:49] estellecomment commented on #50
Adds to Backlog now, which is what we want.

[2022-07-06 07:49] #50 closed, assigned to nobody

[2022-07-06 07:50] estellecomment opened #84 "Add video rooms - Catch up to element-1.11.0"
To add video rooms for alpha testers !

[2022-07-06 07:59] #66 closed, assigned to estellecomment

[2022-07-06 08:42] estellecomment commented on #40
Note that we do not intend to launch with Spaces, in the foreseeable future.

[2022-07-06 08:43] estellecomment commented on #40
Closing until we work on spaces.

[2022-07-06 08:43] #40 closed, assigned to nobody

[2022-07-06 08:48] #56 closed, assigned to nobody

[2022-07-06 08:51] #20 closed, assigned to nobody

[2022-07-06 08:58] estellecomment opened #85 "Encrypted messages : display helpful actions next to the message"
We had made changes in v2 for the problem of lost keys, based on user reasearch.
v4 changes the UX around keys, compared to v2.

Based on our previous user research, make a list of changes to v4 to mitigate the problem of lost keys.
Evaluate if these changes should be pushed into element, or be custom tchap code.

[2022-07-06 09:01] estellecomment commented on #64
This has been achieved even though "Disable spaces" is not done yet. Leaving "Disable spaces" issue open and closing this one.

[2022-07-06 09:01] #64 closed, assigned to estellecomment

[2022-07-06 09:41] estellecomment opened #86 "Add antivirus"
Waiting for implementation within element-web.

[2022-07-06 09:46] estellecomment commented on #32
This could be because we are calling a backend api which doesn't exist, so the default CORS settings are returned, which causes a CORS fail.

The dev backend is the first one to have these new APIs, see if the problem doesn't happen in dev.

[2022-07-06 09:54] estellecomment commented on #72
Est-ce que les users sont expirés, ou désactivés ? Dans Tchap V2 ont a grisé les comptes expirés.
Edit : a priori non, c'est la presence.

[2022-07-06 09:59] estellecomment commented on #79
Do we have this in v2?

[2022-07-06 10:02] estellecomment commented on #63
Note : this would cause no visible changes for users of element-web, because element-web does not create encrypted DMs in this case.

[2022-07-06 10:14] estellecomment commented on #55
Adding "blocked" : we should not invest in testing this until we have decided it's our final solution. (we could do design work to see if it would be possible to reuse element's creation dialogs.)

[2022-07-06 10:16] jdauphant commented on #55
Lié à https://github.com/tchapgouv/tchap-design/issues/90

[2022-07-06 10:19] jdauphant opened #87 "Impossible to limit new forum to federation or not"
### Your use case

#### What would you like to do?
In Tchap v2 :
![image](https://user-images.githubusercontent.com/1238254/177528481-0adeadd9-08e7-4fff-9b15-48a84ded5960.png)

#### What is the current implementation ?
In Tchap v4 :
![image](https://user-images.githubusercontent.com/1238254/177528672-ffbddad6-79be-4926-8a21-1d8dcb51869e.png)

### Have you considered any alternatives?

_No response

[2022-07-06 11:21] jdauphant commented on #72
En regardant le DOM, c'est une class css "offline" qui affiche le nom de la personne en grisé.

La solution je pense est de mettre la liste des homeserveurs dans https://github.com/tchapgouv/tchap-web-v4/blob/develop_tchap/config.sample.json#L49 avec "false".

Pour info, la présence a été coupé côté serveur pour des problèmes de performance.
Il y a des travaux backend en cours pour la restaurer :

[2022-07-06 11:45] giomfo commented on #79
No, because "lookup" request is supported in v2
This is related to the "Discovery" option :  we should trust by default the id serveur imposed by Tchap HS (the TAC included this id server use). We were thinking about a change in server side to trust it by default on account creation

[2022-07-06 12:49] estellecomment commented on #87
You have shown what v2 and v4 currently do.
What is the problem you want to solve ?

[2022-07-06 12:53] estellecomment commented on #87
Currently v4 hides the switch for all servers except intradef, because it is difficult to understand and makes users confused. We had decided this with Design.

We show it for intradef because in the past the correspondant explicitly asked for it. But we could revisit with them, to remove the switch for intradef as well.

Code : https://github.com/tchapgouv/tchap-web-v4/blob/5ed99d7d15e74f2890a284

[2022-07-06 12:58] celiacheff commented on #44
Alternatives:
- un fichier config.base.json et des config.json qui contiennent que les champs à modifier
- utiliser le systeme existant de chargement de conf, et avoir un config.json pour tout le monde, plus un config.localhost.json ou autre qui est reconnu par le loader en fonction du nom de domaine

[2022-07-06 15:04] jdauphant commented on #87
Ok I didn't know that. Interieur may use it too. We will need to test/discuss with users to see if they need it.
It's not urgent.

[2022-07-07 14:37] celiacheff commented on #44
Cf ici [src/vector/getconfig.ts#21 ](https://github.com/tchapgouv/tchap-web-v4/blob/develop_tchap/src/vector/getconfig.ts#L23)

[2022-07-08 11:16] jdauphant opened #88 "As an user, in case my account have expirated, I want to be informed and have a process to reactivate my account"
### Your use case

In case your account is disactivate, inform the user and permit to send an email to reactivate the account

### Have you considered any alternatives?

_No response_

### Additional context

_No response_

Keywords : expiration renew

[2022-07-11 08:43] estellecomment commented on #88
Is this the deactivation for which you need to click a link in your email ? ("Renouvelez votre compte tchap")
If so, the backend sends the link, and the link is a page served by the backend, so there is nothing to do on the frontend.

[2022-07-11 09:11] jdauphant commented on #88
There is an alerting popup in the frontend that inform the desactivation of the account and permit the reactivation of the account.

[2022-07-11 09:11] jdauphant commented on #88
(I don't have the screenshot)

[2022-07-11 12:32] jdauphant commented on #88
On tchap-web-v2 :
![image](https://user-images.githubusercontent.com/1238254/178264849-73050719-4afc-4b8a-b64e-8056571be4bf.png)

[2022-07-11 12:33] jdauphant commented on #88
There is proposition with a code to enter : https://github.com/tchapgouv/tchap-design/issues/26

[2022-07-11 14:41] jdauphant commented on #72
I test a fix in Dev

[2022-07-11 15:24] mcalinghee commented on #88
On tchap-web-v4 :
![image](https://user-images.githubusercontent.com/3725676/178299428-eb6d7cfa-414f-4ea5-89b3-b623457a58c8.png)

[2022-07-11 17:37] jdauphant commented on #44
If we use that, we will need to write or generate the specific file

[2022-07-11 22:23] jdauphant opened #91 "Check experience as an external, lot of things should be forbidden"
### Your use case

As external, I can't :
- Invite
- Create Room/Space
- Be an admin
- Join a public room
- [edit Estelle] modify room settings

[2022-07-11 22:23] jdauphant commented on #91
It looks more easy from what I thinking first

[2022-07-11 23:01] jdauphant opened #93 "Change home to Tchap Design"
### Your use case

We can remove Vector* and create TchapAuthPage (We can even embed the landing page here ^^)
https://github.com/tchapgouv/tchap-web-v4/tree/develop_tchap/src/components/views/auth

V2 home page :
![Capture d’écran 2022-09-01 à 09 37 45](https://user-images.githubusercontent.com/4077729/187859071-311f6631-caff-4306-90ed-91748d4ccea0.png)

V4 home page :
![Capture d’écran 2022-0

[2022-07-11 23:09] jdauphant opened #94 "Suggestion for tchap-web-v4 repository : never rebase on Element Web"
### Your use case

Element-Web only have a few change from react-sdk.
We can clean up this repository from element specific code and never rebase on element-web (We develop Tchap-web base on react sdk).

### Have you considered any alternatives?

_No response_

### Additional context

_No response_

[2022-07-12 09:09] #72 closed, assigned to jdauphant

[2022-07-12 09:55] jdauphant opened #95 "Investigate : should we use the "comment" section ?"
### Your use case

![image](https://user-images.githubusercontent.com/1238254/178462891-a5ceddbd-f449-4631-aee0-df8f99efed5d.png)
![image](https://user-images.githubusercontent.com/1238254/178462825-adb2f93b-33b2-42ad-a4a4-cd9ef56cf8ab.png)

We can personalize to get feedback or remove it if we can't personalize.

### Have you considered any alternatives?

_No response_

### Additional context

_N

[2022-07-12 13:35] estellecomment opened #100 "Key exchange Tartine<->Tartine is not starting"
Reproduce :
- Open a new tartine client in a new clean browser.
- log in and refuse all dialogs for restoring keys. You now have a new client with no keys.
- Request keys to be able to decrypt messages.

Expected : all open clients display a key exchange dialog.
Obtained : tchap v2 displays a key exchange dialog, but tartine does not.

Notes :
 - in existing Tartine client, the new session is list

[2022-07-12 13:42] estellecomment opened #101 "Key exchange V2->Tartine : dialog doesn't close"
Reproduce :
- Open a new tartine client in a new clean browser. You also have an existing v2 client open.
- log in and refuse all dialogs for restoring keys. You now have a new client with no keys.
- Request keys to be able to decrypt messages. Existing v2 client displays the key exchande dialog
- Do the key exchange.

Expected : when exchange is finished, all dialogs close
Obtained : last dialog

[2022-07-12 13:42] areox-net opened #102 "Change UI colors to improve consistency with iOS and Android"
### Your use case

Following the ticket in Tchap-Design ( https://github.com/tchapgouv/tchap-design/issues/93 ), here is a summary of the colors that should be changed

### Sidebars
- [x] Background of SpacePanel: 000091;
- [x] Glyph of SpacePanel (plus button, settings button): ffffff;
- [x] Background of LeftPanel: EDF1F7;
- [x] **Every** Avatar background (when profile picture is missing): 8F96

[2022-07-12 13:45] estellecomment opened #103 "Key exchange Tartine->v2 : Tartine does not start exchange"
- log in a new v2 client. Request keys
Expected : all web clients display key exchange dialog
Obtained : v2 displays key exchange dialog, but tartine does not

[2022-07-12 13:45] jdauphant opened #104 "mettre l’option par default de voir tous les salons dans home"

[2022-07-12 22:31] jdauphant opened #106 "Get inspiration from Tchap Web V3"
Some change can be retrieved from :
https://github.com/tchapgouv/tchap-web-v3/compare/master...develop
and here for matrix-react-sdk :
https://github.com/tchapgouv/matrix-react-sdk-v3/compare/e70085ed2e14a74dc4f482645b89bbb82101de38...develop

Informations already extracted :
- https://github.com/tchapgouv/tchap-web-v4/issues/88#issuecomment-1189357892

[2022-07-13 09:13] areox-net commented on #102
As an extention of this ticket we should also change the following:

- [ ] All links and button should have the Tchap color: 000091
(This should apply to all links and button, and color-underlined texts across the application)
- [ ] Change app icon with attached image icon.png (available in different sizes)

### LogIn page
- [ ] The app icon should also be updated here
- [ ] Replace the Element ba

[2022-07-13 14:32] estellecomment commented on #63
Sent a clean proposition : https://github.com/vector-im/element-meta/issues/372#issuecomment-1183301711

[2022-07-13 14:40] estellecomment opened #107 "à vérifier si c'est necessaire : lors de la création de la room, enlever l’option “rejoindre le salon pour les membres du space”"

[2022-07-13 16:24] #76 closed, assigned to jdauphant

[2022-07-13 16:26] #104 closed, assigned to jdauphant

[2022-07-13 16:29] estellecomment opened #108 "Exported keys file is called "element-keys.txt""
![image](https://user-images.githubusercontent.com/911434/178779151-2c9c3659-27b8-4716-a82d-dede8db65575.png)

cles-tchap-<date>.txt would be better (check with design that "clés Tchap" is the word used in the UI for encryption keys)

[2022-07-13 16:49] estellecomment commented on #108
Could be a good PR for element, it's here : https://github.com/matrix-org/matrix-react-sdk/blob/develop/src/async-components/views/dialogs/security/ExportE2eKeysDialog.tsx#L89

We could use SdkConfig.get().brand (example in Notifier.ts)
And localize it too, with the string `"%(brand)s-keys.txt" : "cles-%(brand)s.txt"`

[2022-07-15 08:26] odelcroi commented on #107
Steps to reproduce :

- create a {private, public }space
- create a {public, private, dm} room
- check that the option "rejoindre le salon pour les membres du space" is not active

[2022-07-15 10:01] odelcroi commented on #107
nb : create a public space is not possible. It might be due to the version of synapse.
`{"errcode":"M_UNKNOWN","error":"Invalid power levels content override"}`

[2022-07-15 11:51] odelcroi commented on #71
Found a path to create a space **from an existing space**.
**EDIT : it is a subspace that is being created, not a new space**

![Capture d’écran 2022-07-15 à 13 46 12](https://user-images.githubusercontent.com/4077729/179217122-d2c57a1a-f8de-4cca-8d6f-a3e2989516b2.png)

![Capture d’écran 2022-07-15 à 13 48 48](https://user-images.githubusercontent.com/4077729/179217451-42cce499-7e0a-4f85-a36f-

[2022-07-15 12:22] odelcroi commented on #107
As long as the room creation panel is custom, no option will be shown :

![Capture d’écran 2022-07-15 à 14 19 22](https://user-images.githubusercontent.com/4077729/179221605-983e8558-423d-48b0-a19b-ae6a5249ce7b.png)

related issue : https://github.com/tchapgouv/tchap-design/issues/90

[2022-07-15 12:31] odelcroi commented on #71
- [x] To be considered, Spaces are mentionned in user settings. Not tragic, but annoying as users will not understand what it is about:

1. Settings>Preferences
![Capture d’écran 2022-07-15 à 14 28 48](https://user-images.githubusercontent.com/4077729/179223355-eca13bd3-ae4e-4c2c-b5a1-7285bd5fe267.png)

2. Settings>Barre latérale
![Capture d’écran 2022-07-15 à 14 31 30](https://user-images.git

[2022-07-17 09:42] jdauphant opened #109 "Incompatibility between v2 and v4 on "history accessible from the activation of this option""
### Steps to reproduce

Activate "history accessible from the activation of this option" on v4
![image](https://user-images.githubusercontent.com/1238254/179392665-4e7a80cd-e030-481a-9b23-4544a95f88ef.png)
On v2, the room will be difficult to access.

### Solution
Disable this option if Tchap V2 is still in production

[2022-07-17 10:07] jdauphant commented on #71
![image](https://user-images.githubusercontent.com/1238254/179393436-b3054913-24d5-4391-9276-45a14f51f512.png)
Is only visible in case, you are admin of a room in a space.

[2022-07-17 10:08] jdauphant commented on #71
I thinks we can keep "space" mentions in settings, as if you have space, they will be visible anyway.

[2022-07-17 10:10] jdauphant commented on #107
So we can close the issue ?

[2022-07-17 11:59] jdauphant commented on #86
It's blocking for release.

Waiting a update from @weeman1337 when it's implemented in js-sdk and/or react-sdk

Also I see "https://github.com/matrix-org/matrix-react-sdk/blob/develop/src/customisations/Media.ts" , is it this class we should replace to implement the content scanning ?

[2022-07-17 12:01] jdauphant commented on #75
It's not possible to disable localisation, we have some edition in react-sdk to do that apparently

[2022-07-17 12:06] jdauphant commented on #102
tchap-bg.jpg is 3.2mo, do you have SVG version or light png ?

[2022-07-17 12:12] areox-net commented on #102
Sorry, forgot to optimize after figma export. here you go

![tchap-bg](https://user-images.githubusercontent.com/1255251/179397698-90cbed7e-25d6-4711-9250-f0cf6c016a65.svg)
![tchap-bg](https://user-images.githubusercontent.com/1255251/179397702-4244aa70-3a1b-4321-bdfe-ce6454c33922.jpg)

[2022-07-17 21:57] jdauphant commented on #63
We can implement hiding room at low cost using this : https://github.com/matrix-org/matrix-react-sdk/blob/develop/src/customisations/RoomList.ts

[2022-07-18 08:43] estellecomment opened #111 "Investigate : Room options allows changing public/private status of room"
edit : work to do

### What v2 options are
Rooms version : 1
for a private room :
- Autoriser l’accès aux externes à ce salon
- Activer l'accès au salon par lien

for a private room with extern :
- Activer l'accès au salon par lien
- [activated] Autoriser l’accès aux externes à ce salon  (can not be changed)

for public rooms (forum :
-  Retirer ce salon de l'annuaire des forums
- [activated] Acti

[2022-07-18 08:45] estellecomment opened #112 "Investigate : Setting "Afficher tous les salons dans Accueil" is changeable in Settings"
Should we hide all mention of this ?
Seen in :
1. Settings>Preferences
![Capture d’écran 2022-07-15 à 14 28 48](https://user-images.githubusercontent.com/4077729/179223355-eca13bd3-ae4e-4c2c-b5a1-7285bd5fe267.png)

2. Settings>Barre latérale
![Capture d’écran 2022-07-15 à 14 31 30](https://user-images.githubusercontent.com/4077729/179223527-b70f445f-d1dd-4891-87e7-016d431ca26c.png)

[2022-07-18 08:46] estellecomment commented on #71
Filed https://github.com/tchapgouv/tchap-web-v4/issues/112 and https://github.com/tchapgouv/tchap-web-v4/issues/111 to get these minor issues sorted out later. They are not blocking for beta. Marking the checkboxes as done in this issue.

[2022-07-18 08:51] #107 closed, assigned to odelcroi

[2022-07-18 08:52] odelcroi opened #113 "Disable creating subspaces from existing spaces"
Found a path to create a space **from an existing space**.
**EDIT : it is a subspace that is being created, not a new space**

![Capture d’écran 2022-07-15 à 13 46 12](https://user-images.githubusercontent.com/4077729/179217122-d2c57a1a-f8de-4cca-8d6f-a3e2989516b2.png)

![Capture d’écran 2022-07-15 à 13 48 48](https://user-images.githubusercontent.com/4077729/179217451-42cce499-7e0a-4f85-a36f-

[2022-07-18 08:55] estellecomment commented on #79
Note : if it's simpler, we could consider just disabling invitation by email in the beta...

[2022-07-18 09:53] estellecomment commented on #75
We can add a UIFeature for location, and check it here :
https://github.com/matrix-org/matrix-react-sdk/blob/develop/src/components/views/rooms/MessageComposer.tsx#L473

[2022-07-18 11:46] estellecomment commented on #113
I don't see it in Tartine on prod backend :

![Screen Shot 2022-07-18 at 12 44 25](https://user-images.githubusercontent.com/911434/179504502-506a5134-4c40-463d-bda4-64a37df783ff.png)

[2022-07-18 13:05] JDixmier opened #114 "Les liens des salons redirigent vers matrix"
### Steps to reproduce

Sur web, Tartine :

1. Choisir un forum
2. Copier le lien du forum depuis les paramètres du forum
3. Le coller dans la barre de navigation

### Outcome

#### What did you expect?

Arriver dans le salon sur Tchap

#### What happened instead?
![Capture d’écran 2022-07-18 à 14 41 58](https://user-images.githubusercontent.com/45665538/179517482-507a22bc-1297-4564-b627-0be3022

[2022-07-18 13:07] JDixmier commented on #114
A noter qu'il n'y a pas de problème quand je clique sur le même lien depuis mon mobile (iOS) : j'arrive bien sur le salon
Edit : ça fonctionne aussi sur web quand on partage le lien dans Tchap

[2022-07-18 13:53] estellecomment opened #116 "Links to rooms in app.element.io open in Tartine"
Go to a room in app.element.io
Copy the url
Paste the url in a tchap message
From tartine, click the link you just messaged

Expected : open new tab with app.element.io/<room url>
Obtained : stays in tartine, tries to open the room, fails (because the room number is unknown, probably, makes sense)

Why is tartine opening this link inside tartine, and the browser does not change to element.io ?

[2022-07-18 14:08] estellecomment commented on #100
Note : this may be because none of my sessions were verified. We have to figure out if this is common or not.

[2022-07-18 14:20] estellecomment commented on #49
This is between two versions of v2, apparently. Can we reproduce ?

[2022-07-18 14:22] estellecomment commented on #55
@jdauphant du coup on peut enlever le "blocked" ?

[2022-07-18 14:26] jdauphant commented on #55
Oui

[2022-07-18 14:30] mcalinghee opened #117 "[devops+dev] Avoid regressions with E2E Tests"
- [ ] add a test framework (with cypress used by element)
- [ ] add one UI test on Login Page (failure scenario to start with)
- [ ] add CI to automate test (maybe with app on scalingo)

Goals :
 - get something simple that works (we can do more complicated later)
 - avoid regressions !

[2022-07-18 14:30] estellecomment commented on #55
@odelcroi : Discussing this with @mcalinghee : we already have unit tests which verify that the rooms are valid tchap-types.
Next, we need to avoid regressions when we catch up with element.
So what we need is end-to-end tests on this.
Closing this ticket in favor of https://github.com/tchapgouv/tchap-web-v4/issues/117

[2022-07-18 14:36] estellecomment commented on #117
Note : the github actions (if we use that) will need the test user's username and password. We can store that in organisation secrets : https://github.com/organizations/tchapgouv/settings/secrets/actions

[2022-07-18 14:58] estellecomment commented on #65
We should think in terms of what checks we need, and not necessarily copy those that element has.
We can reopen if we get into that level of detail.

[2022-07-18 14:58] #65 closed, assigned to nobody

[2022-07-18 15:01] estellecomment commented on #73
If we don't do anything, we are good enough for a beta. This ticket is not needed for Bucheron.

[2022-07-18 15:07] estellecomment commented on #73
Closing, we'll reopen when this is requested by users or support.

[2022-07-18 15:07] #73 closed, assigned to nobody

[2022-07-18 15:11] estellecomment commented on #75
What happens if we just remove the mapserver from the config ?
Is the feature properly hidden ?

[2022-07-18 15:14] estellecomment commented on #77
Not needed for bucheron : we have a working directory, it's just split by homeserver.
Close until the current directory becomes a problem/priority.

[2022-07-18 15:14] #77 closed, assigned to nobody

[2022-07-18 15:21] jdauphant commented on #75
We got an exception if map_style_url is undefined : https://github.com/matrix-org/matrix-react-sdk/blob/1397652f526cada5b87cc8dccaa76fa49e39d0cb/src/utils/location/findMapStyleUrl.ts#L37

[2022-07-18 15:24] odelcroi commented on #55
I'm submitting a more integrated approach to test React components. This allow to test the logic inside the component as well as the externalized logic.
I agree that end to end testing is a must go, though it is costly in terms of development and resources to run. For the present case, component testing is enough imho

[2022-07-18 15:36] odelcroi commented on #55
Key learnings :
- The actual configuration does not work with jest 27 or jest 28. It is stuck to jest 26 with an error of typescript transcompilation I guess (babel..).

- The configuration of enzyme is not taken from matrix-react-sdk for an unknown reason. It has been duplicated to a proper setupTests.js file. Though the rest of the configuration from matrix-react-sdk seems to be taken into accou

[2022-07-18 15:45] estellecomment commented on #79
@giomfo : the user with which I have created the double DM (as described above) should already have discovery working : it's a user created in tchap v2.
So I'm not sure why tartine is doing this. 🤔

[2022-07-18 15:52] estellecomment commented on #79
- [ ] Confirm : when you start a DM by email, there is custom code in tchap v2 that looks up the matrixId, and directs the user to the pre-existing DM with this matrixID. This avoids creating two parallel DMs.
 - [ ] Should Tchap keep this custom feature ?
 - [ ] If yes, how do we reimplement it in Tartine ?

[2022-07-18 15:54] estellecomment commented on #79
Note : for beta bucheron, we only deal with users who have a previously created account. So accepting discovery is already done.
(but it doesn't solve this problem)

[2022-07-18 15:57] estellecomment commented on #87
@jdauphant can we close this ? If users have a problem, we can reopen.

[2022-07-18 15:59] estellecomment commented on #88
Let's try à beta without this. (if it's a blocker we'll reconsider)

[2022-07-18 16:00] estellecomment commented on #93
Not needed for beta

[2022-07-18 16:01] estellecomment commented on #94
@jdauphant as we discussed, there is actually complicated code within element.
Do you want to discuss and evaluate this some more, or close ?

[2022-07-18 16:02] jdauphant commented on #87
if it's visible for intradef, it's good, we can close.

@JDixmier and @Nivann will need to know about it

[2022-07-18 16:04] estellecomment commented on #95
If this can be done simply, we can put it in the beta (having feedback in a beta is useful)
If it's too much work, we will do it after the beta (not having it does not block any of tchap's features)

[2022-07-18 16:05] jdauphant commented on #94
It could be nice to do a 1h workshop

[2022-07-18 16:12] estellecomment commented on #106
Reading the whole v3 diff is difficult to understand and we will end up spending too much time on things that are not necessarily important.
However, when we know that we have to implement a feature, it will be useful to go see the v3 diff to learn from it.

[2022-07-18 16:12] estellecomment commented on #106
@jdauphant ok to close ?

[2022-07-18 16:13] estellecomment commented on #108
@JDixmier : do you think this is confusing users ? Does it matter ?

[2022-07-18 16:15] estellecomment commented on #109
@jdauphant What problem does this create in practice ?

[2022-07-18 16:17] estellecomment commented on #111
Investigate :
 - what changes are possible in v2 ?
 - how would this break tchap-style rooms ?

[2022-07-18 16:18] mcalinghee commented on #111
Perform testing around this feature on Dev environnement

[2022-07-18 16:20] estellecomment commented on #112
Investigate : when a user has no spaces, can they break their UI with this setting ?
(if it's vaguely confusing but doesn't break anything, it's fin for beta)

[2022-07-18 16:27] estellecomment commented on #116
If this is not a security problem, then it's a minor problem (not needed for beta)

We cannot think how this can be used as a security attack : the user that clicks the link will be sent to a room, but cannot join this room if they don't have the permissions (the backend will block this).

[2022-07-18 18:28] jdauphant commented on #109
I don't remember well but I had to revert a setting, the room wasn't accessible anymore on my tchap web v2.
We should test with multiples accounts

[2022-07-18 19:38] jdauphant commented on #106
I have read quickly a quarter of it, I will read and extract what I found interesting, I may take me 1 or 2h.

[2022-07-19 07:54] jdauphant commented on #112
It's not a problem for me. It's confusing if you don't have space but we should leave it if we don't remove the spaces section.

[2022-07-19 07:56] jdauphant commented on #114
@estellecomment @mcalinghee I think we should put it in the Bucheron release.
The PR is already made

[2022-07-19 12:09] JDixmier commented on #87
So the point is to remove the feature that allows users to create a forum opened to only one instance ?
And to make an exception for intradef and maybe interieur ?

indeed some support cases have shown that this feature (and the fact it was setup by default) was very confusing

[2022-07-19 12:59] JDixmier commented on #108
I think it would be better, if possible, to have the file called "Clés Tchap", as suggested by Caro after her investigations with users

[2022-07-19 13:10] odelcroi commented on #63
Or for the sake of the beta we can disable the invitation by email

[2022-07-19 13:37] estellecomment commented on #87
Yes. Intradef users see the switch, they can choose. All other users don't see the switch, so they create public rooms that are federated by default.

[2022-07-19 17:22] jdauphant commented on #88
We can implement with something like that :
[code]
(source https://github.com/tchapgouv/matrix-react-sdk-v3/blob/develop/src/components/structures/MatrixChat.tsx#L1328-L1342 )

Other tasks :
- [ ]  find where we should call setupExpirationAccount to initiate the call
- [x] Integrate the dialog : https://github.com/tchapgouv/matrix-react-sdk-v3/blob/develop/src/tchap/components/dialogs/ExpiredAccou

[2022-07-19 17:33] jdauphant commented on #91
Inspiration on react-sdk-v4 to determine if an user is external : https://github.com/tchapgouv/matrix-react-sdk-v3/blob/develop/src/tchap/Tchap.ts#L146-L191

[2022-07-19 18:17] jdauphant commented on #63
Better idea, we can disable this kind of feature to reduce the time to beta

[2022-07-20 14:34] #114 closed, assigned to nobody

[2022-07-20 22:13] jdauphant opened #123 "Disable possiblity to publish a DM"
### Steps to reproduce

In settings of a DM, we can choose lot of strange option, like publish the DM :
![image](https://user-images.githubusercontent.com/1238254/180091317-4f1e134b-7de3-4fb6-8dc9-8d38ee36922d.png)

### Outcome

I was espected not to publish DM or change DM parameters

### Operating system

_No response_

### Browser information

_No response_

### URL for webapp

_No response_

#

[2022-07-20 22:14] jdauphant commented on #123
We can also disable the possibility to leave a DM

[2022-07-21 08:20] jdauphant opened #124 "Explore if Tchap Web v2 is compatible with mainlining"

[2022-07-21 14:09] JDixmier opened #126 "Room creation : setup by default is "historique visible par les membres depuis leur arrivée""
### Your use case

I think this setup is confusing.
Could in be "depuis leur invitation" by default, as it is in Tchap V2 ?

![Capture d’écran 2022-07-21 à 16 07 32](https://user-images.githubusercontent.com/45665538/180234258-01e6b36e-583e-4c6e-a625-8d5929be1865.png)

### Have you considered any alternatives?

_No response_

### Additional context

_No response_

[2022-07-21 15:31] mcalinghee commented on #63
@gaelledel has been notified but not available at the moment. she might come back to us next week according to @yostyle

[2022-07-22 08:36] celiacheff commented on #44
Autre solution proposée par Julien: un moyen de mapper automatiquement les envvar <-> config.

[2022-07-26 10:25] jdauphant opened #130 "Improve Theme customization"
### Your use case

#### What would you like to do?
Having a way to customize CSS

#### Why would you like to do it?
To improve the design.

#### How would you like to achieve it?
I want to override https://github.com/matrix-org/matrix-react-sdk/blob/develop/res/themes/dark/css/dark.pcss
https://github.com/matrix-org/matrix-react-sdk/blob/develop/res/themes/light/css/light.pcs

And define our own c

[2022-08-01 08:27] celiacheff commented on #117
My retex on trying the existing tests:

Tchap must be launched in English, because some identifiers are hardcoded in English, or we can translate the strings
- ex: `[aria-label="User Menu"] <-> [aria-label="Menu utilisateur"]`

The registration must be updated to our custom component
- fail on: **get** .mx_ServerPicker_change which is not found
- registerUser should be replaced in synapse.ts

We c

[2022-08-04 14:59] giomfo commented on #88
I think this point is a blocker except if the beta testers are aware of this limitation (which need to be connected on another client which supports the account renewal)

[2022-08-12 11:34] celiacheff commented on #117
Lien vers le Notion de travail, l'info est trop brouillonne pour que je le mette ici pour le moment https://www.notion.so/mercurial-timer-ec4/Cypress-E2E-Test-4758a466709047d19c9874e93cb32c87

[2022-08-22 14:10] mcalinghee opened #133 "Decryption of messages are not working properly"
### Contexte
- Cross-signing Support has been released since 11/08/22
- Cross-signing for the following user has NOT been activated
- Device for the following user has been verified

### Problem

1. User goes to tchap-web-v4 : https://app-v4.prod.tchap.incubateur.net/
2. User is authenticated automatically since he has not logged out from his session before
3. User cannot see his messages as the c

[2022-08-23 14:55] odelcroi opened #135 "What do to with secure storage on Tartine"
### Your use case

This ticket is a placeholder to study what are the impacts of the secure storage activation on the backend.

-> Tartine will start the secure storage process when users log in the first time

Should we disable it on the web client?
Should we study and improve the UI ?

### Have you considered any alternatives?

_No response_

### Additional context

_No response_

[2022-08-25 14:00] estellecomment opened #139 "ContentScanner : setState causing react memory error"
In console :

 Warning: Can't perform a React state update on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in the componentWillUnmount method.
ContentScanningFileBody@webpack-internal:///1347:47:5 rageshake.ts:73:27
    fnName rageshake.ts:73
    overrideMethod react_devtools_backend.js:4026

[2022-08-29 08:08] celiacheff commented on #117
Mes remarques actuelles

- Actuellement je teste avec le docker, il faudra mettre à jour avec le docker synape. Il faudra utiliser le futur docker synapse Tchap.
- pour la CI/CD: il faut copier le config.json de dev et lancer le serveur.

[2022-08-29 16:09] #55 closed, assigned to odelcroi

[2022-08-31 13:16] #117 closed, assigned to celiacheff

[2022-08-31 13:25] estellecomment opened #142 "e2e tests : bulbizarre -> florizarre"
<img src="https://user-images.githubusercontent.com/911434/187688095-630962bd-d6fc-4a76-a105-07a519d181a5.png" width="100px"> >>>>>>>> <img src="https://user-images.githubusercontent.com/911434/187688170-d8e053e8-5fab-4df2-af5f-4f70f772f6a2.png" width="300px">

Our current e2e tests have shortcomings. We are at bulbizarre version. Move up to florizarre version (see images above for details)
- The

[2022-08-31 13:26] mcalinghee opened #143 "Submit debug log points to tchap-web"
### Problem
If an error occurs, the client offers you the possibility to submit the logs by creating an issue on the repo : vector-im/element-web
<img width="1208" alt="Screenshot 2022-08-31 at 14 43 53" src="https://user-images.githubusercontent.com/3725676/187687917-c186cbe1-192e-4e80-9360-07e3f2cec57c.png">

When clicking on "Submit logs", this pop up appears :
<img width="798" alt="Screenshot

[2022-08-31 13:30] estellecomment commented on #143
I see the same error in the same channel, and so does Juliette. There's a broken event apparently.

[2022-08-31 13:32] mcalinghee commented on #143
I am opening another issue for this as it is the underlying issue : https://github.com/tchapgouv/tchap-web-v4/issues/146

[2022-08-31 13:33] estellecomment opened #144 "e2e tests : browser should load pages in french"
It's better to run the e2e tests in a fixed locale, so that we can refer to specific text in the interface.
French makes sense because it's the main language used by our users.

Right now only login.spec.ts is set to french.

[2022-08-31 13:44] estellecomment opened #145 "ContentScanner needs tests"
- [ ] unit tests (do not use enzyme, it's deprecated, set up @testing-library/react instead)
- [ ] e2e tests

[2022-08-31 13:44] mcalinghee opened #146 "Can't load this message (m.room.message)"
### Problem
On some channel, some messages cannot be displayed on tchap-web
<img width="1208" alt="Screenshot 2022-08-31 at 14 43 53" src="https://user-images.githubusercontent.com/3725676/187691640-5f70bd6e-99ef-4b9d-9e42-c29844850ea7.png">

Whereas the message that should be displayed on tchap-iOS) should be this one :
![IMG_B7ADBA1A79C4-1](https://user-images.githubusercontent.com/3725676/18769

[2022-08-31 15:03] areox-net opened #147 "Hide other members' devices/sessions in a conversation side bar"
### Your use case

#### What would you like to do?
To hide other members' devices/sessions in a conversation side bar.

#### Why would you like to do it?
Is not clear what the feature is used for and it upsets most of the users, especially the ones concerned with privacy.
See original issue in Tchap-Design https://github.com/tchapgouv/tchap-design/issues/85

#### How would you like to achieve it?

[2022-08-31 16:32] estellecomment commented on #147
ok ! We'll work on this when it get to the top of the pile :) Not a priority for now. Thanks !

[2022-08-31 18:34] jdauphant commented on #130
@estellecomment @odelcroi cette PR rend autonome @areox-net pour modifier le théme est améliorer l'expérience.
On pourra en discuter pour que vous faites un avis technique sur le projet

[2022-09-01 07:30] odelcroi commented on #32
I can't reproduce with Tchap Tartine, feel free to reopen if happens again

[2022-09-01 07:30] #32 closed, assigned to nobody

[2022-09-01 07:36] odelcroi commented on #87
I'm closing this conversation as everyone agrees that V4 complies with what is required for Intradef users

[2022-09-01 07:36] #87 closed, assigned to nobody

[2022-09-01 07:40] odelcroi commented on #93
Added screenshots, what is needed to do here? @areox-net

[2022-09-01 07:47] odelcroi opened #148 "In javascript console, remove references to Element-web"
### Your use case

- In the js console:
![Capture d’écran 2022-09-01 à 09 47 10](https://user-images.githubusercontent.com/4077729/187860748-701464d5-d534-4878-8659-b7ab211a05e0.png)

...

### Have you considered any alternatives?

_No response_

### Additional context

_No response_

[2022-09-01 09:42] areox-net commented on #93
@odelcroi not sure what @jdauphant means here.
Julien, do you mean that we could replace the login page with another page (ex. landing page) and have the login page at a second level?

[2022-09-01 12:10] mcalinghee commented on #71
released on production

[2022-09-01 12:10] #71 closed, assigned to estellecomment

[2022-09-01 12:12] jdauphant commented on #100
We may need cross-signing enabled

[2022-09-01 12:23] estellecomment opened #149 "Migration vers Tartine : est-ce que je peux dechiffrer mes messages ?"
J'ai déja un client v2.
Je commence un nouveau client Tartine.
Est-ce que je peux bien déchiffrer mes messages sur mon nouvau client ?

[2022-09-01 12:24] estellecomment commented on #149
Includes #101 et #103

[2022-09-01 12:27] estellecomment commented on #149
Est-ce que je peux récupérer mes clés depuis le client android et iOS ? (en tant qu'utilisateur, je n'ai qu'un seul téléphone, android ou iOS, pas les deux)

[2022-09-01 12:29] #113 closed, assigned to nobody

[2022-09-01 12:34] #86 closed, assigned to nobody

[2022-09-01 12:53] jdauphant commented on #123
Linked to #111

[2022-09-02 10:19] jdauphant commented on #93
We have already implemented this ticket

[2022-09-02 10:19] #93 closed, assigned to nobody

[2022-09-02 13:09] #106 closed, assigned to jdauphant

[2022-09-02 13:09] jdauphant commented on #106
Done with #88

[2022-09-02 13:40] odelcroi opened #151 "Login : users must know their homeserver"
Users must choose their home server to login.

Problem : in V2 users have no idea of what is a homeserver

![Capture d’écran 2022-09-02 à 15 41 45](https://user-images.githubusercontent.com/4077729/188159007-334f2afe-0c93-472d-b484-06c30cfd7d08.png)

Alternative :
- mail all users to tell which homeserver they belong to

[2022-09-02 13:47] odelcroi opened #152 "Register : create a new account with V2 screen flow"
### Your use case

In Tchap registration is customized :
- username is created from email
- homeserver is chosen from email
- terms and condition of all identity servers must be approved automatically (to be able to be discovered)

### Have you considered any alternatives?

- Register workflow can be routed to existing screen from v2
- Same with login?

### Additional context

_No response_

[2022-09-02 13:51] estellecomment opened #153 "Settings : do not allow change of display name"
Currently the UI lets you edit your displayname :

<img width="484" alt="Screen Shot 2022-09-02 at 15 48 54" src="https://user-images.githubusercontent.com/911434/188160984-b2262beb-6f6e-4793-8679-4af4b714793f.png">

But the backend refuses the edit (which is good). This is confusing for the user.
Hide the editing completely.

[2022-09-02 13:52] jdauphant commented on #116
It's not a security issue

[2022-09-02 13:58] estellecomment opened #154 "Settings : hide Spaces settings"
We don't allow spaces.
<img width="663" alt="image" src="https://user-images.githubusercontent.com/911434/188165219-13ca5272-5443-43d7-8b68-8a1de7d45e79.png">

[2022-09-02 13:58] estellecomment commented on #154
Also Sidebar menu :
<img width="906" alt="image" src="https://user-images.githubusercontent.com/911434/188165417-3cb4bce1-4089-48e4-85b3-c51f4dd38917.png">

[2022-09-02 14:00] odelcroi opened #155 "As an external user I want to use Tchap"
### Your use case

#### What would you like to do?

I've been invited to Tchap, I'd like to use Tchap within the limitation for external users

#### Why would you like to do it?

#### How would you like to achieve it?

### Have you considered any alternatives?

_No response_

### Additional context

_No response_

[2022-09-02 14:02] odelcroi opened #156 "As a user I want to reset my password"
### Your use case
I have lost my password, I need to reset it

#### What would you like to do?

#### Why would you like to do it?

#### How would you like to achieve it?

### Have you considered any alternatives?

NB : update password from a login session works

_No response_

### Additional context

_No response_

[2022-09-02 14:02] estellecomment opened #157 "Disable video rooms"
in settings, `feature_video_rooms`.
In the UI, they are visible in Labs settings.

[2022-09-02 14:07] estellecomment opened #158 "Room settings : hide room aliases"
Room aliases don't exist in Tchap. Hide the settings.
<img width="661" alt="image" src="https://user-images.githubusercontent.com/911434/188167031-5ecf10d8-80c0-4d7c-8d13-317f710396f5.png">

[2022-09-02 14:50] #155 closed, assigned to nobody

[2022-09-02 14:56] jdauphant commented on #126
closed by #128

[2022-09-02 14:56] #126 closed, assigned to nobody

[2022-09-06 07:54] estellecomment opened #159 "Replying to a message with an image causes an error"
Post a message containing an image.
Click reply.
Crash : this.messageContent is not a function

https://github.com/matrix-org/matrix-react-sdk/blob/afb39d8d921ed537705c5a46ba27fb514ac522d4/src/components/views/messages/MImageReplyBody.tsx#L53

(related to our adding of ContentScanner ?)

[2022-09-06 12:28] jdauphant opened #160 "Error on reply to image"
### Steps to reproduce

Click "reply" on a image message

### Outcome

#### What did you expect?
I was expecting to be redirected to input message when click on reply

#### What happened instead?
Error message :
![image](https://user-images.githubusercontent.com/1238254/188635074-6a2b25bd-6465-48df-9f15-4671c6349fa1.png)

### Operating system

_No response_

### Browser information

_No response_

[2022-09-06 14:06] jdauphant commented on #160
Duplicate of #159

[2022-09-06 14:06] #160 closed, assigned to nobody

[2022-09-06 14:06] jdauphant commented on #159
### Steps to reproduce

Click "reply" on a image message

### Outcome

#### What did you expect?
I was expecting to be redirected to input message when click on reply

#### What happened instead?
Error message :
![image](https://user-images.githubusercontent.com/1238254/188635074-6a2b25bd-6465-48df-9f15-4671c6349fa1.png)

### Operating system

_No response_

### Browser information

_No response_

[2022-09-06 14:12] jdauphant commented on #159
Maybe linked problem :
Can't read message that reply to image "Impossible de charger ce message ([m.room](http://m.room/).message) Envoyer les journaux"

![image](https://user-images.githubusercontent.com/1238254/188657783-27e92de2-977e-4884-8e4d-3b8332c17650.png)

[2022-09-07 14:46] odelcroi commented on #116
I haven't figured out "why is tartine opening this link inside tartine, and the browser does not change to element.io ?" but I don't think of any security issue. I'll remove the tag beta then and deprioritize the issue

[2022-09-07 15:08] odelcroi commented on #111
-- moved to the issue body --

[2022-09-08 11:33] giomfo commented on #116
@estellecomment can you confirm the link you copied/pasted has the prefix "https://matrix.to/#"?

[2022-09-09 09:10] estellecomment commented on #116
No, it doesn't.

Example : I am on http://< my tchap-v4 server >
I click this link in a message : https://app.element.io/#/room/!< ROOM ID >:matrix.org (not a matrix.to link)
I expect to browse to https://app.element.io/#/room/!< ROOM ID >:matrix.org
Currently in v4, I browse to https://< my tchap-v4 server >/#/room/!< ROOM ID >:matrix.org

It's a potential security problem because the URL that I

[2022-09-09 10:24] giomfo commented on #116
Yes, the origin of the bug should be in the Tchap-web configuration.
I think you kept the Element-web configuration which let the application catch matrix.to links and those which have https://app.element.io/, https://develop.element.io/... prefixes

[2022-09-10 07:55] jdauphant commented on #116
Sometime references to element-web are hard coded in the react-sdk (like the feedback module with hard-coded reference to Element-web github).

[2022-09-12 14:22] estellecomment opened #164 "Fix Jest config to use customisations properly"
[Jest does not use the Webpack config](https://github.com/webpack/webpack/issues/7768) and therefore it does not apply customisations properly, and tests break.

We have to edit `jest.moduleNameMapper` in `package.json` and add the customized files to make tests work (see [example PR](https://github.com/tchapgouv/tchap-web-v4/pull/161/files#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507

[2022-09-14 13:17] mcalinghee opened #169 "Settings : Authorize access to external from a private room"
In the Room Settings , Security and Privacy, we would like to add the feature to allow the access to external users from a private room for the administrator

Before:
<img width="588" alt="image" src="https://user-images.githubusercontent.com/3725676/190169003-ae63cb58-cf5b-403f-8047-d1aa1578cf66.png">

After :
<img width="486" alt="image" src="https://user-images.githubusercontent.com/3725676/190

[2022-09-14 16:08] #111 closed, assigned to odelcroi

[2022-09-15 07:25] odelcroi commented on #123
We can also disable the possibility to leave a DM

@jdauphant  I wouldn't process this comment in this ticket, you could create another ticket if you think it is relevant

[2022-09-15 07:27] #75 closed, assigned to jdauphant

[2022-09-15 07:31] #123 closed, assigned to nobody

[2022-09-15 15:28] estellecomment opened #177 "E2e test for login broken : wrong dialog appears on top"
Sometimes, the "Verify Device" dialog appears on top, so that the dialog in which to input the passphrase in not available, and cypress times out waiting for it.

<img width="850" alt="image" src="https://user-images.githubusercontent.com/911434/190444257-f0ce14ce-a371-438a-bfb9-eaebbe38de42.png">

[2022-09-19 08:45] estellecomment commented on #77
Note : the backend is planning on doing this work, in the mainline. https://github.com/tchapgouv/tchap-backend/issues/5

[2022-09-19 08:56] odelcroi commented on #112
I have no spaces on my account. Setting this option ON or OFF does not make any effect on my home page, we should be fine for beta. Removing the beta tag.

[2022-09-19 08:57] odelcroi commented on #130
Definitely interesting, let's investigate it after the beta

[2022-09-19 09:01] odelcroi opened #179 "Deactivate the option to join the beta Video feature"
![Capture d’écran 2022-09-19 à 11 01 16](https://user-images.githubusercontent.com/4077729/190983892-8dec3568-aaf2-4c99-bc88-09778f404bcd.png)

[2022-09-19 09:10] odelcroi commented on #78
tested :
- user 1 switches to liste rouge in V2
- user 2 search for user 1 with v4 : user 1 is suggested IF user 2 has already "seen" user 1 (ie user 1 is a contact of user 2)
- user 2 search for user 1 with v2 : user 1 is not suggested

explanation : in v4, suggested users are a mix of local contacts and users discovery.

it has been tested via API that discovery does not include "liste rouge" us

[2022-09-19 09:21] estellecomment opened #180 "matrix.to links should be disabled"
For now, when you click a matrix.to link, Tartine tries to open it in Tartine.
(same problem as with links to element.io, see https://github.com/tchapgouv/tchap-web-v4/issues/116)

We should treat them as normal links, and send the browser to https://matrix.to

[2022-09-19 09:22] odelcroi commented on #78
if we consider that the behaviour of V4 is not what tchap wants, we can consider fixint it. Removing beta tag

[2022-09-19 09:22] #78 closed, assigned to nobody

[2022-09-19 09:25] estellecomment opened #181 "Password policy : is tchap's policy more restrictive ?"
For example, passwords should have at least 8 chars, and a capital letter, or whatever.

Test this.
Is it enforced in the backend ? Is there some extra work to do in the frontend ?

[2022-09-19 09:32] estellecomment opened #182 "Disable multi-person DM"
In tchap, it is not possible to do a multi-person DM (more than 2 people).

In Tartine, it is.
 - It creates a room in "Salon"
 - the display name for the room, seen by user1, is "Displayname2 and DisplayName3" (user2 will see "DisplayName1 and Displayname3", etc)
 - the name of the room is empty in settings. If you set a name, it is seen by all participants.

Probably acceptable for a beta.

[2022-09-19 09:44] estellecomment opened #184 "Patches are difficult to upgrade"
When we upgrade matrix-react-sdk, we need to re-run patch-package to make a patch for the new version (this is good).
However, with the organisation in multiple patches in subdirectories, the default patch-package command breaks.

Solution : make an upgrade_patches.sh script to do it easily.

[2022-09-19 10:05] giomfo commented on #181
The password policy is min length 8 with a minimum of 1 Uppercase , 1 Lowercase , 1 digit and 1 symbol
The server returns a weak pwd error if one of these constraints is missing
I think you don't need to change the code from the Element-web client on this point

[2022-09-19 14:19] odelcroi opened #185 "Loging out : no warning on keys backup"
in v2 when logging out, users are warned about the fact they will lose everything, their keys
<img width="729" alt="Capture d’écran 2022-09-19 à 16 24 44" src="https://user-images.githubusercontent.com/4077729/191040909-4ff31ae4-2faa-4dcd-98f1-be68c6f10dbe.png">

in V4, they are warned also but the consequences are not obvious
<img width="601" alt="Capture d’écran 2022-09-19 à 16 28 14" src="h

[2022-09-19 14:45] estellecomment opened #186 "Roomlist displays private and public rooms in the same way"
This is confusing for users. Both forums and private rooms are in the same section of roomlist, and with the same icon.

[2022-09-19 15:14] estellecomment opened #187 "Some settings in Tartine can allow users to mess up"
Tartine should not expose any settings which allow users to break their own experience.

List of potentially dangerous settings to remove or fix :

- [x] User settings :
    - [X] you can revoke discovery, and then you can’t enable it again → broken discovery. (disabled by "UIFeature.identityServer": false)
    - [x] you can set up secure storage (https://github.com/tchapgouv/tchap-web-v4/pull/198

[2022-09-19 15:53] estellecomment commented on #151
Possible implementation (WIP, I will edit this comment as I go)
- replace the serverPicker with a TchapServerPicker : display an email text field, and a Validate button. When button is clicked, we make an API call to find homeserver and set it back in the callback (same callback as the original serverPicker)
- In Login, remove the flows we don’t need.
- Replace PasswordLogin with a TchapPasswordLo

[2022-09-21 08:30] estellecomment commented on #135
Attempt to disable cross-signing : https://github.com/tchapgouv/tchap-web-v4/pull/188/files
This means the client will not use secure storage either (for the cross signing keys)

[2022-09-21 08:32] estellecomment commented on #135
We don't want users to set up secure storage.
We don't want cross signing either, but it could also work if we use it.

[2022-09-21 08:34] estellecomment commented on #135
Is there a flag to disable use of secure storage and cross signing ?
@weeman1337 do you know ?

[2022-09-21 08:47] weeman1337 commented on #135
After a quick look into the settings I would say no.

Adding a config flag in the UI should be doable with reasonable effort https://github.com/vector-im/element-web/blob/develop/docs/config.md#ui-features

[2022-09-21 13:20] estellecomment opened #190 "Decrypted messages do not appear without user action"
Reproduce :
 - create new user, login in to android or v2 or iphone
 - send a message
 - log in to v4 (without cross-signing since #188 ) with same user. Message appears encrypted.
 -  Key exchange dialogs appear. Do the emoji exchange.

Expected : message becomes decrypted and readable.
Obtained : Message still appears encrypted. You need to reload the page, or click "resend request", for the dec

[2022-09-21 13:25] weeman1337 commented on #190
@estellecomment can you check if there are any console errors?
Directly after this happened, can you send the debug logs to me directly (Settings → Help → Send Debug Logs → Download)?

[2022-09-21 13:43] estellecomment opened #192 "Key exchange dialog text is irrelevant"
Users are trying to decrypt their messages. They don't care about anything else.
The current messaging is confusing and mentions verification, end-to-end, interception of messages, ... which is not what users are thinking about.

Screenshots below --v

[2022-09-21 13:51] weeman1337 commented on #190
Upstream issue: https://github.com/vector-im/element-web/issues/23333

[2022-09-21 14:27] #179 closed, assigned to nobody

[2022-09-21 14:43] odelcroi opened #193 "Impossible to invite external users"
### Steps to reproduce

1. Create a room where external are allowed (or an existing one)
2. open invite dialog
3. input a valid email
#### Outcome
nothing happened

#### What happened instead?

-> no error is shown to the users
-> javascript error in console,  see below

### Operating system

### Browser information

### URL for webapp

### Application version

### Homeserver

### Will you send lo

[2022-09-21 15:09] estellecomment commented on #193
Solved by https://github.com/tchapgouv/tchap-web-v4/pull/172 maybe ? @mcalinghee

[2022-09-22 07:24] odelcroi commented on #135
We should hide this part in the UI :
<img width="599" alt="Capture d’écran 2022-09-22 à 09 23 34" src="https://user-images.githubusercontent.com/4077729/191684124-7fc47ecf-164f-4273-b60d-7da375496d3b.png">

[2022-09-22 07:49] odelcroi commented on #135
And this button "Start secure backup" while logging out :

<img width="459" alt="Capture d’écran 2022-09-22 à 09 48 52" src="https://user-images.githubusercontent.com/4077729/191688933-70716552-d927-46fa-ac32-6cb78fbcc31c.png">

[2022-09-22 07:52] odelcroi commented on #193
Sorry no, @estellecomment, the problem is in the dialog to invite people in the room. A raw email is not taken properly as if the dialog does not know what to do with an email that does not match with an existing tchap user.

[2022-09-22 08:47] odelcroi commented on #151
Another approach would be to backport this customization : https://github.com/tchapgouv/tchap-web/blob/ae04a62bc4c59d027fb7e397e6357610e4127c9c/matrix-react-sdk/src/components/structures/auth/Login.js#L144

It seems a quick win isn't it?

[2022-09-22 13:16] estellecomment commented on #79
Note : this could be present in element, or not. Investigate to clarify the issue.

[2022-09-22 13:29] mcalinghee commented on #91
Note : An alternative of this ticket is to forbid external users to login

[2022-09-22 15:53] odelcroi opened #197 "Joining new version of Tartine needs refresh"
### Steps to reproduce

1. connect to old version
2. join new version with special url path

### Outcome

#### What did you expect?
- new version launches properly

#### What happened instead?
- infinite loading
- it works after refreshing the page
![Capture d’écran 2022-09-22 à 17 51 29](https://user-images.githubusercontent.com/4077729/191794392-6a0c7c98-f833-43bc-9c98-931f364178a3.png)

### O

[2022-09-22 15:54] odelcroi commented on #197
logs :

[www.tchap.gouv.fr-1663855027651.log](https://github.com/tchapgouv/tchap-web-v4/files/9627459/www.tchap.gouv.fr-1663855027651.log)

[2022-09-22 16:15] pseudonyme21 commented on #91
Try  to log with an external account is ok :
<img width="771" alt="Capture d’écran 2022-09-22 à 18 01 34" src="https://user-images.githubusercontent.com/11921231/191797963-ede1007b-bc68-454b-8d59-4b38ae1697f2.png">

I have to select my homeserver
<img width="717" alt="Capture d’écran 2022-09-22 à 18 02 06" src="https://user-images.githubusercontent.com/11921231/191798191-75553714-0d43-4b3c-808

[2022-09-22 18:12] odelcroi commented on #185
Sometimes they are not warned. It seems that, they are not warned because they haven't write any message, then losing their keys won't have any effect. need double check

[2022-09-23 08:20] jdauphant commented on #91
@pseudonyme21
![image](https://user-images.githubusercontent.com/1238254/191919310-d213f251-24aa-4c89-8df3-ff214f05830f.png)
You test isn't valide : you need to change the homeserver :
![image](https://user-images.githubusercontent.com/1238254/191938050-2156a178-bcab-4d37-bc32-66d4cca53203.png)

[2022-09-23 09:24] estellecomment commented on #185
In V2 we did some UX work around the loss of keys, which includes dialogs at log out. The text is tchap-custom, and maybe come dialogs appears only on tchap.
We will need to port this work back into v4.

[2022-09-23 09:27] estellecomment commented on #91
Added another test suggestion : when you are in a room, or in a DM, can you modify settings for the room ? (you should not be able to)

[2022-09-23 10:04] jdauphant commented on #91
If you enter an ID can you open a DM ?

[2022-09-23 13:25] estellecomment opened #201 "On failed login, no error message displays"
With my cross3 account, on localhost, prod backend.
Console says - `Login failed M_FORBIDDEN: Unknown message`
Server request returns 403, no error message.

Happens when account does not exist.
When email exists and password is wrong, the error message displays alright.

(not done investigating, this is preliminary findings)

[2022-09-23 13:26] estellecomment opened #202 "Tchap web session will not exchange keys with iphone"
- user has an iphone 2.0.5 session (no other sessions)
- user starts Tartine session
 - Tartine requests keys from iphone 2.0.5.
→ KO. emoji exchange starts, then error on mobile : "la vérification a été annulée : motif unexpected message"

Edit : this does not happen every time. Sometimes it does work.

It was already a problem in web v2 (reproduced)

[2022-09-23 13:46] estellecomment commented on #151
fixed by #196

[2022-09-23 13:46] #151 closed, assigned to nobody

[2022-09-23 14:28] mcalinghee opened #203 "[Limitation] Tchap-web_v4 ignores the incoming room key requests until the cross-signing is supported"
After having deactivating cross signing in Tartine, the client does not start the emoji device verification whenever another device requests key exchange.

### with iphone
- user has an Tartine session (no other sessions)
- user starts iphone 2.0.5 session
- iphone 2.0.5 requests keys from Tartine.
→ KO. emoji exchange does not start. Tartine seems to receive the event but does not treat it.

###

[2022-09-23 14:32] mcalinghee commented on #202
the verification request seems to be sent to v4 but the iphone 2.0.5 does not seems to receive or to handle the request (cf. logs from v4 that seems to send the event)
[code]

[2022-09-23 14:35] estellecomment opened #204 "Missing translations when creating a DM"
Create a DM. Before you have sent a message you get :

![Screen Shot 2022-09-23 at 16 32 00](https://user-images.githubusercontent.com/911434/191985095-9f1a43b8-1c1b-4362-9c98-af286dbaa8ec.png)

After you sent a message :
![Screen Shot 2022-09-23 at 16 34 30](https://user-images.githubusercontent.com/911434/191985439-f4634ed3-d458-4d08-9911-25805edcdf1a.png)

[2022-09-23 14:50] estellecomment commented on #158
fixed by #205

[2022-09-23 14:50] #158 closed, assigned to nobody

[2022-09-23 15:10] estellecomment commented on #152
Note : when we implement register, we should check that external users cannot register before they have been invited.
(it should be enforced by backend anyway)

[2022-09-23 15:14] #187 closed, assigned to mcalinghee

[2022-09-23 15:34] estellecomment opened #206 "Reset password : backend says you will be logged out, but it's not compulsory any more"
When you reset your password, there is now a checkbox where you can chose to log out all sessions, or not.
Previously, you had to log out all sessions (no choice).

Obtained : messaging from the backend that says I will be logged out.
Expected : messaging from the backend that doesn't mention if I will be logged out or not (or that corresponds to my choice)

---
Screenshots:

The email you get sti

[2022-09-23 15:34] estellecomment commented on #156
- From the login page, click "Forgot my password" and follow the procedure. It works.

The messaging insists that you will be logged out of your existing sessions, which is not necessarily the case now, because there is a checkbox for it (by default you are not logged out of all your sessions).

I also tested the checkbox : if you select "log out all sessions" it does, and if you don't select, it

[2022-09-23 15:34] #156 closed, assigned to nobody

[2022-09-23 15:42] mcalinghee opened #207 "Cannot scroll on the list of homeservers when choosing a public room"
When exploring the rooms, the list of homeservers is too long therefore we cannot scroll on the list :
<img width="746" alt="image" src="https://user-images.githubusercontent.com/3725676/191999108-8c3e02d3-82e9-489d-af75-1ed24bb51a62.png">

[2022-09-23 15:44] estellecomment commented on #135
I am not getting this dialog any more, probably because we removed cross-signing.

[2022-09-23 15:52] mcalinghee commented on #91
- [x] Cannot edit room settings for an external : OK

General tab :
Everything is disabled
We can only leave the room
<img width="675" alt="image" src="https://user-images.githubusercontent.com/3725676/192000576-d559f664-ea08-4d49-a3d5-74faa620bba5.png">

Security tab :
Note that the encryption cannot be changed as it is disabled and all other settings are disabled as well :
<img width="682" alt="

[2022-09-23 15:54] mcalinghee commented on #91
- [x] Cannot join a public room by id : OK
<img width="713" alt="192002356-ed7f7719-5b9b-49b6-af75-168fb3ccf554" src="https://user-images.githubusercontent.com/3725676/192225069-84e989f5-07b5-4a3a-8b6a-3338998958d2.png">

[2022-09-23 16:02] estellecomment commented on #135
Started a PR anyway : https://github.com/tchapgouv/tchap-web-v4/pull/208

[2022-09-23 16:03] mcalinghee commented on #91
- [x] An internal user cannot give `Admin` or `Moderator` role to external user:
<img width="318" alt="image" src="https://user-images.githubusercontent.com/3725676/192003804-6f8d6a68-f4dd-414c-ba00-dcd41df82649.png">

When trying to set admin or moderator, we have a failure :
<img width="738" alt="image" src="https://user-images.githubusercontent.com/3725676/192003905-6b2cded6-046a-459c-9821-3993

[2022-09-23 16:05] mcalinghee commented on #91
Can we close this issue if we do not have anymore scenarios ?

[2022-09-26 07:46] odelcroi commented on #201
Another error not shown :
`POST https://matrix.agent1.tchap.incubateur.net/_matrix/client/r0/login 429 (Too Many Requests)`

I guess it is because I tried too many bad password.

EDIT: I tried again and got this error :
EDIT EDIT : I tried again and got no displayed error
![Capture d’écran 2022-09-26 à 09 46 37](https://user-images.githubusercontent.com/4077729/192221611-bdbad805-a7c1-4b22-a882-

[2022-09-26 07:55] estellecomment commented on #91
Looks good to me :) Thanks !

[2022-09-26 07:57] odelcroi commented on #135
I tested with a brand new user, I get the dialog, I think the PR is needed

[2022-09-26 08:33] odelcroi opened #209 "Disable expiration for all accounts"
Users are not warned of expirated account : #88

[2022-09-26 08:33] odelcroi commented on #209
https://github.com/tchapgouv/tchap-infra/issues/1425

[2022-09-26 08:46] odelcroi commented on #157
fixed

[2022-09-26 08:46] #157 closed, assigned to nobody

[2022-09-26 08:47] #43 closed, assigned to nobody

[2022-09-26 08:48] #84 closed, assigned to nobody

[2022-09-26 08:54] estellecomment commented on #135
PR merged.
All mentions of secure storage have been hidden (unless we find new ones later :) )

[2022-09-26 08:54] #135 closed, assigned to nobody

[2022-09-26 09:01] giomfo commented on #79
I reproduced the issue in Element-Web. No lookup is triggered on client side. I created https://github.com/vector-im/element-web/issues/23353

[2022-09-26 09:17] odelcroi commented on #202
Is is not related to the issue https://github.com/tchapgouv/tchap-web-v4/issues/203 instead ?

[2022-09-26 10:11] estellecomment opened #211 "Améliorer le signalement d'erreur de v4"
Users cannot easily get help when they have a problem in v4.
There are problems with the In Settings > Help and About menu.

 - [x] You can open a github issue against element-web's repo. Expected : repo should be tchap-web-v4.
 - [x] Add the support email to contact, very visibly, this is the first action to take. Leave a smaller link to the github repo.
 - [x] Add a link to the known issues page

[2022-09-26 10:18] jdauphant commented on #211
@estellecomment we have to modifi react-sdk, it's hardcoded

[2022-09-26 11:52] estellecomment commented on #211
patch-package ! Patch patch patch patch patch patch

[2022-09-26 12:12] odelcroi commented on #103
included in #203

[2022-09-26 12:12] #103 closed, assigned to odelcroi

[2022-09-26 12:43] estellecomment commented on #211
PR https://github.com/tchapgouv/tchap-web-v4/pull/212

[2022-09-26 13:24] odelcroi commented on #203
[KeyRequestHandler.js](https://github.com/matrix-org/matrix-react-sdk/pull/4655/files#diff-db89af51273fae40a4aa617b87ca59262a2db22dfcf854f51933bd863b3bc36d) has been removed. One hint would be to revert it into the projet in order to open the missing dialog.

The dialog has been removed also : https://github.com/matrix-org/matrix-react-sdk/pull/4648/files#diff-a248ba2684dc92f20a3e2eba9f63e28a695f7

[2022-09-26 14:02] estellecomment opened #213 "Submit bug report is broken"
![image](https://user-images.githubusercontent.com/911434/192296458-f258b26c-6da8-4aa9-bcb7-0b98027f59a1.png)

It sends to < tchap-web-url >/bugreports/submit and errors on 404.
In v2, it sent to < homeserver-url >/bugreports/submit
Should the frontend forward to the backend ? Is it a settings problem ?

[2022-09-26 14:41] estellecomment opened #214 "Sort rooms by most recent activity by default"
v2 sorted rooms by most recent activity.
v4 sorts by alphabetical order by default (but enables change)

Change default setting to sort by most recent, to minimize changes from v2.

[2022-09-26 14:55] #209 closed, assigned to nobody

[2022-09-26 15:20] mcalinghee commented on #149
We already have identified issues concerning this topic

[2022-09-26 15:20] #149 closed, assigned to nobody

[2022-09-26 15:26] mcalinghee opened #215 "As an external, hide all features I should access"
### Your use case

As external, I can't :
- Invite
- Create Room/Space
- Be an admin
- Join a public room
- [edit Estelle] modify room settings

### Have you considered any alternatives?

_No response_

### Additional context

Step to implement :

- Detect if user is externe here : (example here : https://github.com/vector-im/element-web/blob/develop/docs/customisations.md#component-visibility-cus

[2022-09-26 15:27] #91 closed, assigned to mcalinghee, pseudonyme21

[2022-09-26 15:46] odelcroi opened #217 "Reset password : users must select their home server"
### Steps to reproduce

1. open login dialog
2. click on lost password
![Capture d’écran 2022-09-26 à 17 44 22](https://user-images.githubusercontent.com/4077729/192321916-01f69c8e-2725-4940-b5ce-d6ddd60503c0.png)

### Outcome

#### What did you expect?

#### What happened instead?

### Operating system

_No response_

### Browser information

_No response_

### URL for webapp

_No response_

##

[2022-09-26 16:30] estellecomment opened #219 "Disable Voice message"
Not supported on mobile, don't know if server will like the load

[2022-09-26 16:33] estellecomment opened #220 "Password containing "²" was refused"

[2022-09-27 11:06] odelcroi commented on #207
Quick fix proposal @Caroline-lawson  @areox-net :
![Capture d’écran 2022-09-27 à 13 05 17](https://user-images.githubusercontent.com/4077729/192509600-3020125f-54c9-4101-a50b-505912dbd6cd.png)

[2022-09-27 12:06] estellecomment opened #223 "Reset password : when password complexity is insufficient, tell user at the start"
1 - forgot password
2 - enter email + a password with only letters
3 - get the email, click the link, go back to the original page
4 - click "J'ai verifié mon adresse mail"
Obtained : error, the password should contain digits
![Screen Shot 2022-09-27 at 14 01 40](https://user-images.githubusercontent.com/911434/192520480-bab72bd2-bace-4189-9552-bb5b11ef74cd.png)

Expected : display this error when

[2022-09-27 12:08] estellecomment commented on #223
Also, once you are on that page you are stuck, there are no buttons to leave. You have to refresh the page, which gets you back to the start of "Forgot password."

[2022-09-27 12:13] estellecomment commented on #223
And the error is in English, while the rest of the interface is in French.

[2022-09-27 12:23] #213 closed, assigned to nobody

[2022-09-27 12:32] estellecomment commented on #223
Implementation :
[PassphraseField uses scorePassword function](v4/matrix-react-sdk-v4/src/components/views/auth/PassphraseField.tsx), which is [defined in PasswordScorer](https://github.com/matrix-org/matrix-react-sdk/blob/68b3fd78c2759b6b1c6de6f86c93a3e021db36ec/src/utils/PasswordScorer.ts#L66-L67).

We could replace PasswordScorer to match Tchap's password rules.
Other solution : replace the who

[2022-09-27 12:45] odelcroi commented on #207
patch-name : public-room-server-list

[2022-09-27 12:47] Caroline-lawson commented on #207
So the list is in a smaller font so it fits without having to scroll?

Do we need "Server" in front of each option?

[2022-09-27 13:28] odelcroi commented on #207
what about :
<img width="559" alt="Capture d’écran 2022-09-27 à 15 32 58" src="https://user-images.githubusercontent.com/4077729/192540599-c34e3fe6-dd84-47d4-ae58-7b85e9cb4eb8.png">

[2022-09-28 09:44] estellecomment opened #225 "Useless warning in Forum room settings"
The warning suggests adding an address, but we removed the functionality.

![image](https://user-images.githubusercontent.com/911434/192746812-24820a17-0fa7-4899-8474-36003fcad347.png)

It is confusing but does not allow the user to do anything damaging.

[2022-09-28 10:06] estellecomment opened #226 "Room access settings : radiobutton and toggle are confusing if you can't move them"
In a private room with externs allowed :
![image](https://user-images.githubusercontent.com/911434/192751569-9ce504c6-87a3-4f71-8c6d-08129d5b9ea3.png)

The radio button is confusing because there is only one and it can't be changed.
The toggle is confusing because it's disabled, but it's not clear why the action can't be taken.

Solution :
 - remove the radio button
 - Possibly remove the toggle.

[2022-09-28 10:06] #169 closed, assigned to mcalinghee

[2022-09-28 10:24] estellecomment opened #227 "Invite by email : dialog crashes unless you paste email"
Reproduce :
 - Go to a room (private or forum)
 - Type an email (existing or non-existing user, intern or extern)
 - Type enter or space

Obtained : dialog disappears, no invitation.
An error occured :
[code]
Expected : invitation should happen (or be refused with an explanation, if appropriate)

Notes :
 - Workaround : copy the email and paste it in the dialog. It appears displayed in a pill, and

[2022-09-28 12:39] jdauphant commented on #159
Yes message in response of an image can't be showned

[2022-09-28 13:55] estellecomment opened #228 "Invite by email : Fails because of identity server Terms request"
Reproduce
 - create user in v2
 - log into v4
 - create room
 - add a person by email (copy paste the email rather than typing it because of [this issue](https://github.com/tchapgouv/tchap-web-v4/issues/227))
 You can use an email for an internal or external account, corresponding to a user account that exists or not.

 Expected : person is added
 Obtained :
![Screen Shot 2022-09-28 at 12 42 28](h

[2022-09-28 14:51] #207 closed, assigned to odelcroi

[2022-09-28 15:08] #217 closed, assigned to estellecomment, odelcroi

[2022-09-29 09:40] #201 closed, assigned to estellecomment

[2022-09-29 12:00] #211 closed, assigned to nobody

[2022-09-29 12:03] estellecomment commented on #193
Maybe the same as https://github.com/tchapgouv/tchap-web-v4/issues/227 ?

[2022-09-29 12:08] estellecomment commented on #143
We patched BugReportDialog to send logs to tchap.

[2022-09-29 12:08] #143 closed, assigned to nobody

[2022-09-29 13:18] odelcroi opened #231 "Disable secure storage from UserInfo"
### Steps to reproduce

1. Click on a Room where you belong
2. Click on participants>your profile
3. Click on your devices
4. Click on a device
5. Secure Storage process launches

![Capture d’écran 2022-10-03 à 12 15 54](https://user-images.githubusercontent.com/4077729/193554207-90b51c7a-24d9-4287-b64b-9c4fbd2b13d2.png)

### Outcome

#### What did you expect?
- if device is verified, nothing sh

[2022-09-29 13:25] odelcroi commented on #231
In UserInfo.tsx, the verifyDevice might use cross signing```
 const onDeviceClick = () => {
        verifyDevice(cli.getUser(userId), device);
    };```

Maybe setting e2ee.manuallyVerifyAllSessions to true to disable completely cross signing.
EDIT: e2ee.manuallyVerifyAllSessions is not taken into account, but hardcoding in MatrixClientPeg works

[2022-09-29 17:33] estellecomment commented on #206
We could also hide the checkbox that allows you to chose whether to log out sessions or not. (is that what mobile clients have done ? @giomfo ? )

[2022-09-30 09:00] mcalinghee opened #236 "Track how many users are using which version of tchap-web (beta..)"
Change the user-agent to add the tchap-web version in order to re-use this in our stats
We could rely on the package.json :   `version": "4.0.2_1.11.5`

[2022-09-30 09:25] estellecomment commented on #159
Signaled at least twice by users.

[2022-09-30 15:26] #223 closed, assigned to estellecomment

[2022-09-30 15:38] mcalinghee opened #239 "Verification of 2 session with Verify button, keys are not exchanged automatically"
### Scope of the issue :
- session A in v4 and session B in v4
- session A in v4 and session B in iOS
- session A in v4 and session B in android

### Steps to reproduce
1. user 1 has already a session opened : session A
2. user 1 is opening a new session by logging : session B
3. session B is not going through the verification process suggested when logging : session B is not verified
4. session A

[2022-09-30 16:01] estellecomment commented on #159
Probably because MImageReplyBody imports MImageBody, but with out ContentScanner setup, the code it actually imports is ContentScanningImageBody.
Then it tries to use the messageContent function, which is present normally on MImageBody, but not on ContentScannerImageBody. So it crashes.

One fix is to import the original version : in MImageReplyBody :
replace `import MImageBody from './MImageBody'

[2022-09-30 16:26] odelcroi opened #240 "what is this icon on crypted messages ?"
### Steps to reproduce

1. Dunno

### Outcome

#### What did you expect?

#### What happened instead?
This icon appears on messages
<img width="470" alt="Capture d’écran 2022-09-30 à 18 27 38" src="https://user-images.githubusercontent.com/4077729/193315375-d5a6df11-a3d0-487a-b534-d60cc4a6d878.png">

with css selector
"mx_EventTile_e2eIcon mx_EventTile_e2eIcon_normal"

### Operating system

_No

[2022-10-03 08:00] odelcroi commented on #236
I guess the problem you want to solve is to track which versions is used by how many users :
- as we already have users metrics based on the user-agent, we could add a version to the user-agent, I'm wondering what would be the side effects?
- is there any other way to track this information in a none intrusive way, maybe with tracking cookies on the nginx side

[2022-10-04 07:23] weeman1337 commented on #159
I would suggest to implement a content scanning version of `MImageReplyBody` similar to the other `*Body` components.

[2022-10-04 12:56] odelcroi commented on #95
The "comment" section has been connected to rageshake

[2022-10-04 12:56] #95 closed, assigned to nobody

[2022-10-04 13:00] #193 closed, assigned to nobody

[2022-10-04 13:00] odelcroi commented on #193
duplicated #227

[2022-10-04 14:10] odelcroi commented on #100
Closing this issue as it does not happen with cross signing disabled, feel free to reopen if it happens again

[2022-10-04 14:10] #100 closed, assigned to nobody

[2022-10-04 14:14] odelcroi commented on #101
Can not be reproduced with current version. Closing for now

[2022-10-04 14:14] #101 closed, assigned to odelcroi

[2022-10-04 14:47] mcalinghee commented on #109
### Tests
**Scenario 1**
1. Create a new private room with user1
2. Write a message A
3. Change the settings to : `Members only (since the point in time of selecting this option)`
4. Write a message B
5. Invite user2 to the private room
6. user2 can see the message B not the message A in v2 and v4
In v2:
<img width="1200" alt="Screenshot 2022-10-04 at 16 42 51" src="https://user-images.githubuserc

[2022-10-05 12:48] #231 closed, assigned to odelcroi

[2022-10-06 08:24] #203 closed, assigned to odelcroi

[2022-10-07 07:47] jdauphant commented on #236
Changing user agent on the client side is on the way to be removed by all browsers (apparently it's already the case in Firefox)

[2022-10-07 08:36] odelcroi commented on #197
One solution : configure nginx like this

[code]

and deactivate caching for index.html, domain/ and domain

[2022-10-10 08:28] odelcroi commented on #197
PR  :
https://github.com/tchapgouv/tchap-infra/pull/1462
https://github.com/tchapgouv/tchap-infra/pull/1461

[2022-10-10 12:17] odelcroi commented on #236
The current not perfect solution is to track how many hits are logged to the url /join-beta.

It will not work when people will be migrated to v4 without hitting this url.

[2022-10-11 07:22] #197 closed, assigned to nobody

[2022-10-11 07:32] odelcroi commented on #146
Duplicate of https://github.com/tchapgouv/tchap-web-v4/issues/159

[2022-10-11 07:32] #146 closed, assigned to nobody

[2022-10-11 13:56] odelcroi commented on #186
+ we do not see at a glance if a room allows external users

[2022-10-11 16:49] odelcroi commented on #186
@areox-net @Caroline-lawson  Could we work on some UI components to enhance UX on this topic? Should we take the icon from V2 version?

[2022-10-11 18:10] Caroline-lawson commented on #186
Another linked problem is that people I spoke with did not know that forums are not crypted conversations.

Remind me what the icon was in V2?

If it's the padlock, then it makes sense if it's on all types of group conversations. The problem is that the colours are counter intuitive :
- red for private rooms: they are encrypted and therefore safe in the context of Tchap - a green closed padlock sh

[2022-10-12 06:58] odelcroi commented on #152
When using v4, "this url leads to a blank page ? : https://www.tchap.gouv.fr/#/register"

[2022-10-12 07:39] odelcroi commented on #152
Tchap uses /#/register (fragments), they are not sent to nginx, so we can not use it for redirection.
A new location can be created /create-account that will load v2 application via the cookie.

        location = /create-account {
                add_header Set-Cookie "split_test_version=version_current;Path=/;Max-Age=31540000;";
                return 302 https://{{ webapp_domain }}/?r=$msec#/re

[2022-10-12 08:21] areox-net commented on #186
That's a recurring theme. Tchap v1 highlighted this difference by design, with avatar shapes, icons and - later - color labels for redundancy. We moved to a simpler roomlist as we moved toward Element.
After all these iterations, it is my opinion that the best solution is to separate Forums from other conversations. They are something different both in security level and use.
In this specific case

[2022-10-12 08:47] odelcroi commented on #186
I would say it is not straightfoward as we need to implement some logic in the right panel. I will investigate it, but in the mean time, could we propose a quick-win solution to be deployed in the coming days?

Sure, could you propose a design to do so?

[2022-10-12 09:09] #108 closed, assigned to odelcroi

[2022-10-12 09:43] areox-net commented on #186
@odelcroi A quick solution for now would be to use the same icon that we use on mobile for Forums
![Screenshot 2022-10-12 at 11 41 40](https://user-images.githubusercontent.com/1255251/195308947-3cb2bcfd-a334-4c09-940b-8718cd83b961.png)

For the header, my old proposals looked like this
![Screenshot 2022-10-12 at 11 43 29](https://user-images.githubusercontent.com/1255251/195309371-73b3e4cd-3a0b-4

[2022-10-12 12:14] odelcroi commented on #152
Another solution without cookie :
[code]

https://github.com/tchapgouv/tchap-infra/pull/1470

[2022-10-12 13:03] jdauphant commented on #152
We should go with a no cookie option.

[2022-10-12 14:41] odelcroi commented on #186
Thanks, what can be done easily is to replace the globe by the image you propose. Could you provide a svg version ?
![Capture d’écran 2022-10-12 à 16 39 58](https://user-images.githubusercontent.com/4077729/195373309-94b2fbc6-9c2f-44b1-af8f-22d59d1a363c.png)

[2022-10-12 14:52] areox-net commented on #186
Here you go
![icn_forum](https://user-images.githubusercontent.com/1255251/195376136-480cbbf9-8963-4ea4-ad6a-b67f7df24bdd.svg)

[2022-10-12 15:48] mcalinghee commented on #227
There are 3 elements blocking this feature to work :
- [ ] `_matrix/identity/v2/terms` does not exists and make it fails : https://github.com/tchapgouv/tchap-web-v4/issues/228
- [ ] `UIFeature.identityServer` is set to `false` => we can set this to `true` but we need to hide the dicovery panel
- [ ] `UIFeature.thirdPartyId` is set to `false`
   - [ ] the `Go` button is not working as no `userId` h

[2022-10-13 07:37] odelcroi commented on #130
linked to #186, @jdauphant have you something in mind?

[2022-10-13 08:50] mcalinghee commented on #228
Example of response in _Element_
Request :
[code]
Response :
[code]

[2022-10-17 13:16] odelcroi opened #250 "Room avatars are blurry"
### Steps to reproduce

Un détail esthétique : les avatars (format *.jpg) s'affichent avec un léger flou dans le menu de la liste des Personnes / Salons et sur les bulles dans les discussions.

Problem seems to be related to the size of the image retrieved from the media repo.

[2022-10-17 13:28] mcalinghee opened #251 "Decryption Error : OLM.UNKOWN_MESSAGE_INDEX"
### Scenario to reproduce the issue
1. Log in with user1
2. Log in with user2
3. user1 sends a message A
4. user2 read the message A
5. user2 export its keys
6. user2 logs out
7. user1 sends a message B
8. Log in with user2
9. user2 import its keys (step 5)
10. user2 can read message A
11. user2 cannot read message B (see screenshot)
An error is present : `OLM.UNKOWN_MESSAGE_INDEX`
<img width="103

[2022-10-17 13:45] odelcroi commented on #152
Additionnaly to nginx configuration, we must override "sign-in" links in the register screen to direct users to V4 signin screens.
https://github.com/tchapgouv/tchap-web/pull/327/files

[2022-10-17 13:46] mcalinghee opened #252 "Secure storage : 'Set up Secure Backup' is displayed"
### Scenario to reproduce the issue :
Pre-requirement : use a new account to do not hijack your own account

1. Log in with user1
2. Send messages to user2
3. Clean your navigator cache (no logout)
4. Close your navigator
5. Open your navigator and login with user1
6. Go to "Security and Privacy Settings'
7. In the settings : "Sign out all devices" but keep "This device"
You should have one verifi

[2022-10-17 13:52] odelcroi commented on #214
Reported by at least 3 beta tester

[2022-10-17 15:12] estellecomment commented on #251
Isn't this expected behavior ? The imported keys only decrypt messages up
to when they were exported (so they decrypt A but not B).
To get message B, the client should get keys from another session, through
a key exchange.

On Mon, 17 Oct 2022 at 15:28, mcalinghee ***@***.***> wrote:

[2022-10-17 16:20] estellecomment opened #253 "When inviting an extern in intern-only room, error message is confusing"
Inviting an extern in a private room without externs :

<img width="755" alt="image" src="https://user-images.githubusercontent.com/911434/196229852-ddd84561-9e53-40ac-8301-1c147c14367c.png">

Inviting an extern in a public forum :
<img width="751" alt="image" src="https://user-images.githubusercontent.com/911434/196230254-38624bc3-978f-4ff6-962a-ca470fa54fdc.png">

Expected : a more specific erro

[2022-10-17 20:54] jdauphant commented on #252
@mcalinghee do you had cross-signing activated with this user ?

[2022-10-18 07:21] odelcroi opened #254 "Can not download files from a room"
### Steps to reproduce

- send a file to a person via DM
- try to download the file

pour les images, je peux les ouvrir en affichage et le bouton de téléchargement fonctionne alors
mais pour les fichiers zip, par exemple, le bouton de téléchargement reste inactif

Mais pour ces dernières,  on peut les agrandir dans le lecteur intégré,  le bouton de téléchargement de ce lecteur fonctionne bien.

#

[2022-10-18 07:58] estellecomment commented on #184
We now have
[code]
Upgrades seem to happen easily enough for now. Reopen if we run into trouble.

[2022-10-18 07:58] #184 closed, assigned to nobody

[2022-10-18 09:30] estellecomment commented on #186
Question : Can we add a separate category in the roomlist, for public forums ?
Answer : not easily.

There is no provided hook to do this. We need to edit multiple files all over react-sdk.
The sections of the roomlist correspond to a list of tags defined in [src/stores/room-list/models.ts](https://github.com/matrix-org/matrix-react-sdk/blob/630511de1c6d700197899cb6e3120cd0a734cc72/src/stores/room

[2022-10-18 14:34] estellecomment commented on #186
Implemented for forums :
<img width="340" alt="image" src="https://user-images.githubusercontent.com/911434/196460344-5ed59d02-5bc8-4dbd-821a-a9caaaacdf84.png">

While we're at it, we could also display the red lock on private rooms, and the orange lock on private-with-externs.

[2022-10-18 15:36] mcalinghee commented on #254
### Analysis

**Description of the issue :**
When downloading a file, the process is happening in 2 steps :
1. Request from tchap-web on : `GET https://www.tchap.gouv.fr/usercontent/`
Response :
[code]

2. Then another request from tchap-web is happening : `GET https://www.tchap.gouv.fr/bundles/2bc64c92a71bae258f08/usercontent.js`
Response : `HTTP ERROR NOT FOUND 404 `

_______

**Infrastructure d

[2022-10-18 18:57] mcalinghee commented on #252
No cross signing activated

[2022-10-19 13:22] #227 closed, assigned to mcalinghee

[2022-10-19 13:22] #228 closed, assigned to mcalinghee

[2022-10-19 13:36] mcalinghee opened #261 "Cannot decrypt message: sender's device has not sent us the keys for this message ("bug N..")"
What I wrote is encrypted, my contacts can not see my messages

### Scenario
NOTE : this issue cannot be reproduced for everyone (this issue happens for specific user)
URL : https://www.tchap.gouv.fr/

1. user1 sends a message into a room(or in a DM)
2. user2 receiving the message cannot see the message (message is encrypted)
3. user1 refresh his page
4. user1 sends the 2nd message
5. user2 is abl

[2022-10-19 13:46] estellecomment opened #262 "Thread started by me is not displayed in my main chat until it gets an answer"
I start a thread by answering a message (my own or someone else's) :

<img width="834" alt="Screen Shot 2022-10-19 at 3 39 03 PM" src="https://user-images.githubusercontent.com/911434/196708429-3adca171-8896-4b91-9cc2-d04fdc3a7e9e.png">

After another user (not me) adds to the thread, it gets displayed :

<img width="836" alt="Screen Shot 2022-10-19 at 3 39 33 PM" src="https://user-images.githubus

[2022-10-19 13:52] #159 closed, assigned to weeman1337

[2022-10-19 16:35] estellecomment opened #264 "Refreshing page after private room creation breaks sending"
Steps :
 - Create a private room
 - send a message in the room
 - refresh the page (ctrl+R)
 - send a message in the room

 Expected : message is sent
 Obtained : message is not sent.

 Error in UI :

<img width="864" alt="image" src="https://user-images.githubusercontent.com/911434/196751359-fd1b30c2-c156-4629-b6f2-a63de1495444.png">

 Error in console :
 `Error: Room was previously configured to

[2022-10-19 16:36] estellecomment commented on #264
Also present in element-web 1.11.10

[2022-10-20 07:45] estellecomment commented on #261
This issue is also happening to a number of users who upgrade from v4. It may not be the same cause, but it's the same symptoms.
 - When it happens on upgrade, it seems that a simple page refresh (ctrl+R) solves it, for multiple people.
 - When it happened (once) after a "Clear cache and reload", the refresh did not solve it, and finally it was solved (accidentally) by doing an emoji exchange with

[2022-10-20 08:41] #214 closed, assigned to estellecomment

[2022-10-20 09:33] mcalinghee commented on #261
**Other Scenarios that we tried to trigger the issue :**

Scenario 1 : limit the space storage (The idea is to make the IndexedDB to fail)
1. Simulating a limited storage (in order to limit the storage of the IndexedDB)
2. user1 sends a message into a room(or in a DM)
3. user2 receiving the message cannot see the message (encrypted message)
4. we can see in the log of user1 that there is an error

[2022-10-20 14:25] #186 closed, assigned to odelcroi

[2022-10-20 15:07] estellecomment opened #266 "Upgrade to element-web 1.11.10"
currently we're at 1.11.9

[2022-10-20 15:20] JDixmier opened #267 "Desktop/browser notification disappeared"
### Steps to reproduce

I did not do anything but the problem started 10 days ago (approx)

### Outcome

- No more noise
- No more preview / popup
- Did not manage to get it back, even when all the settings in Tchap and in the browser seem to be ok

I am using Google Chrome Version 106.0.5249.119 (Build officiel) (x86_64)

### Operating system

_No response_

### Browser information

_No response_

[2022-10-20 15:37] JDixmier commented on #267
A user reported the same problem : https://app.crisp.chat/website/6dacc68e-de3a-4511-8177-1339616098de/inbox/session_1537d6d1-83dc-465f-a42b-6aed46cc3fd5/

**She's using google chrome / windows 10**

[2022-10-21 07:24] Caroline-lawson commented on #186
Why didn't we change the colour of the padlocks?
- Green for salons privés
- Orange for salons privés ouverts aux externes
- Red for forums

[2022-10-21 07:58] estellecomment commented on #186
@Caroline-lawson since then, we have ! https://github.com/tchapgouv/tchap-web-v4/pull/258

[2022-10-21 11:59] Caroline-lawson commented on #186
I'm still not seeing it, but if you say it's there, great! 😄

[2022-10-21 12:46] estellecomment commented on #267
Maybe fixed by upgrade to element-1.11.10 ? https://github.com/tchapgouv/tchap-web-v4/pull/269

[2022-10-21 12:49] estellecomment commented on #204
Not seeing it any more in 4.0.4. Closing.

[2022-10-21 12:49] #204 closed, assigned to nobody

[2022-10-21 15:21] mcalinghee opened #272 "Invite users to a room in Bulk via a file"
In v2, there is possibility to invite users in bulk via a file.
<img width="751" alt="image" src="https://user-images.githubusercontent.com/3725676/197233870-0d531b4b-000d-457b-ace3-4e6df037e8e6.png">
<img width="743" alt="image" src="https://user-images.githubusercontent.com/3725676/197233994-903ab17b-9e9a-4272-9ee8-f9b7c19ca63a.png">

In v4, this feature is not available.

[2022-10-21 15:43] jdauphant commented on #272
In v4, we can make a todo with the invitation dialog, I was able to invite lot of person like that with there ids or with emails.

[2022-10-24 08:17] estellecomment commented on #206
Edit : this checkbox is not displayed because the current prod backend does not support spec r0.6.1.
The mainlining will support it, so the checkbox will be displayed in prod after the mainlining is deployed.

[2022-10-24 08:17] estellecomment commented on #206
Edit : this checkbox is not displayed because the current prod backend does not support spec r0.6.1.
The mainlining will support it, so the checkbox will be displayed in prod after the mainlining is deployed.

[2022-10-24 08:34] estellecomment opened #273 "Choice of themes should be just "light" or "dark""
Currently we have "light" "dark" and "tchap", which is weird.

[2022-10-24 09:08] estellecomment opened #274 "Out of order messages"
Messages for "today" (monday) are appearing before messages for "wednesday" (5 days ago)
Refreshing page fixes it.

<img width="1181" alt="image(1)" src="https://user-images.githubusercontent.com/911434/197489195-06815f1c-03a2-4613-9e86-82ff2e953e11.png">

This situation was reached by clicking a link to the message from D from today (monday), which is in a room that had not been opened in a while

[2022-10-24 09:26] estellecomment opened #275 "Implement registration"
### Your use case

#### What would you like to do?
Create da account man

#### Why would you like to do it?
Wanna do the tchap thang

#### How would you like to achieve it?
add the call to find the user's homeserver, and fit it in somewhere in the flow

### Have you considered any alternatives?

reuse v2 registration : https://github.com/tchapgouv/tchap-web-v4/issues/152

### Additional context

_

[2022-10-24 09:46] #267 closed, assigned to nobody

[2022-10-24 10:38] odelcroi commented on #250
On a 1280x800 screen, room avatars are blurry on the list of rooms :
<img width="232" alt="Capture d’écran 2022-10-24 à 12 30 08" src="https://user-images.githubusercontent.com/4077729/197507388-97a90329-fa79-4260-8a8f-54b7993c3380.png">

Less blurry by increasing slightly the size of the avatar  (32px to 36px) :
<img width="232" alt="Capture d’écran 2022-10-24 à 12 29 49" src="https://user-im

[2022-10-24 10:39] odelcroi commented on #250
on a 1080p resolution, room avatars are not blurry

[2022-10-24 10:42] odelcroi commented on #254
solved by : https://github.com/tchapgouv/tchap-infra/pull/1487

[2022-10-24 13:46] #266 closed, assigned to estellecomment

[2022-10-24 14:54] odelcroi commented on #85
This panel could be migrated to the current version

![Capture d’écran 2022-10-24 à 16 53 03](https://user-images.githubusercontent.com/4077729/197556795-6d4da1e6-448e-4681-8186-912ada8c3da9.png)

[2022-10-25 07:29] odelcroi commented on #273
Themes choices are defined statically in `[ThemeChoicePanel](https://github.com/matrix-org/matrix-react-sdk/blob/d599b1b206dba16fecdaf1824e2de38a302e4b60/src/components/views/settings/ThemeChoicePanel.tsx)`. To have only 2 themes, we need either to :
- add tchap dark and tchap light custom themes while removing the standard ones from the choices list
- customize the standard themes while removing

[2022-10-25 07:33] odelcroi commented on #273
relates to #130

[2022-10-25 07:33] odelcroi commented on #130
relates to #273

[2022-10-26 08:40] odelcroi opened #278 "My contacts can not uncrypt my messages"
### Steps to reproduce

In some cases, after migrating to v4, some users reported that their contacts could not uncrypt their messages.

Clearing the cache, restarting the client, hard refreshing the page would solve the problem.

Investigations showed that their keys were not sent to their contacts, which was solved by restarting the client (either clearing the cache or refreshing the page)

###

[2022-10-26 08:49] odelcroi commented on #278
To enhance user experience, instead of waiting for the problem to happen, the application could clear local storage when migrating to v4.

At application launch, if device upgrades from v2 to v4, restart and [clear the cache](https://github.com/matrix-org/matrix-react-sdk/blob/3c5c2bef6dbac51ce6e1864056523815ca4c38d9/src/components/views/settings/tabs/user/HelpUserSettingsTab.tsx#L308)

[code]

[2022-10-26 15:33] estellecomment opened #280 "Implement user-friendlier register flow, with redirect to login"
### What we have
Currently v4 has the same register flow as v2 : when the user clicks the confirmation link in email, they are directed to a confirmation page by the backend, and then have to navigate back to the login page by hand.

### What we want
The full flow in element-web is a bit better than the flow in v2 : when the user clicks the link in email, they are redirected to the login page.
Imp

[2022-10-26 16:21] estellecomment opened #281 "Registration does not work with mainlining : "User ID cannot be empty""
Tchap-web sends register requests with empty username, because the backend fills it in based on the email.
The mainlining backend seems to refuse empty usernames.

<img width="706" alt="Capture d’écran 2022-12-06 à 16 34 11" src="https://user-images.githubusercontent.com/4077729/205955391-075c9232-12b6-4e06-adcf-1af859266669.png">

---
On dev, tchap-web registration fails :
Request :
[code]

Res

[2022-10-27 15:32] odelcroi opened #282 "theme : room avatars take default colors"
Issue discovered in branch #277

### Steps to reproduce

Open tchap

### Outcome

They should be gray :
<img width="71" alt="Capture d’écran 2022-10-27 à 17 30 31" src="https://user-images.githubusercontent.com/4077729/198333229-f90a36a9-3062-44fd-bd77-093635afdf82.png">

They are colorful :
<img width="69" alt="Capture d’écran 2022-10-27 à 17 31 37" src="https://user-images.githubusercontent.

[2022-10-27 15:34] odelcroi commented on #282
`Avatar.ts#defaultAvatarUrlForString `could be patched to use this :
``const cssValue = getComputedStyle(document.body).getPropertyValue(cssVariable);``
instead of this
`` const cssValue = document.body.style.getPropertyValue(cssVariable); ``

[2022-10-27 15:37] odelcroi commented on #282
Or another solution is to invoke `theme.ts#setCustomThemeVars` during application init

[2022-10-28 07:36] estellecomment opened #283 "Upgrade to element 1.11.12"
We're at 1.11.10

[2022-11-03 10:09] odelcroi commented on #278
how to detect a `clearCacheAndReload` is needed :
- `matrix-js-sdk:riot-web-sync` indexDB store version is different in v2 and V4 (respectively version 3 and version 4) <- this is the store that is deleted when clearing cache.
- we could store in local storage the app version

how to detect a `clearCacheAndReload` is NOT needed (avoid infinite loop):
- app version is 4.***
- `matrix-js-sdk:riot-we

[2022-11-03 13:45] estellecomment opened #288 "When creating account with unauthorized domain, interface is confusing"
create account with non allowed domain -> email is not sent, which is good, but :
- error message is in english, not translated ("Your email is not authorized to register on this server")
- "email has been sent" screen is briefly displayed, and then the user is returned to the login form with the error message. So it's confusing if the email has been sent or not. (it's not)

[2022-11-03 13:57] #273 closed, assigned to odelcroi

[2022-11-03 14:02] estellecomment opened #289 "Re-enable cypress job in CI"
disabled until we fix it, because it is blocking scalingo deployments (review apps and others)

[2022-11-03 14:28] odelcroi opened #290 "errors in log : 'map_style_url' missing from homeserver"
#### What happened instead?
rageshake.ts?8b38:73 'map_style_url' missing from homeserver .well-known area, and missing from from config.json.

####
In disable location, we might use a feature flag to avoid this error in logs

[2022-11-03 14:39] estellecomment commented on #290
The code is checking if map_style_url is present in config, so that it can
display the "share your location" buttons.
In our case it's not present.
See https://github.com/tchapgouv/tchap-web-v4/pull/271

It's annoying that it logs an error every time, yes, agreed

On Thu, 3 Nov 2022 at 15:28, Olivier D ***@***.***> wrote:

[2022-11-07 14:34] #278 closed, assigned to nobody

[2022-11-08 12:59] estellecomment commented on #290
in discussion with element : https://github.com/matrix-org/matrix-react-sdk/pull/9481

[2022-11-08 13:02] #275 closed, assigned to estellecomment

[2022-11-08 13:07] estellecomment commented on #181
it is enforced by backend, and it is tchap-specific.

[2022-11-08 13:07] #181 closed, assigned to nobody

[2022-11-08 13:08] estellecomment commented on #152
registration is now merged

[2022-11-08 13:08] #152 closed, assigned to nobody

[2022-11-08 13:10] estellecomment commented on #130
We now have tchap pcss files which we can use to define our themes. I think this fixes this issue. (reopen if not)

[2022-11-08 13:10] #130 closed, assigned to odelcroi

[2022-11-08 13:28] estellecomment opened #295 "The new device manager (labs feature) verifies current session and doesn't work"
Tested in dev backend.

Reproduce :
 - Activate feature in settings, in Labs/experimental (feature added in element-web 1.11.12)
 - Shows an extra section in settings, which prompts users to verify sessions :
<img width="1053" alt="image" src="https://user-images.githubusercontent.com/911434/200576947-0a3127a7-9634-43f4-86ce-a775b9f7b6dc.png">

Without cross-signing, can users verify sessions ? Sh

[2022-11-08 13:37] estellecomment commented on #295
Trying to verify the current session : UI gets stuck on spinner :

<img width="1042" alt="Screen Shot 2022-11-08 at 2 35 02 PM" src="https://user-images.githubusercontent.com/911434/200578940-871cff51-222b-410c-920a-c23cc7b617dd.png">

14:33:08,610
XHR GET https://matrix.agent1.tchap.incubateur.net/_matrix/client/unstable/org.matrix.msc2697.v2/dehydrated_device
[HTTP/1.1 404 Not Found 52ms]

14:33

[2022-11-08 16:18] estellecomment opened #296 "New login is stuck on "incoming verification""
On dev backend, with my personal account.
 - session 1 open on dev frontend (single session)
Version de Tchap : 4.1.0_1.11.10
Version de Olm : 3.2.12
 - start a session 2 on other frontend
Version de Tchap : 4.1.0_1.11.12
Version de Olm : 3.2.12
 - do the emoji exchange sucessfully. Session 1 shows session 2 as verified.
 - session 2 finishes verification, and then is stuck on "incoming verificati

[2022-11-08 16:22] estellecomment opened #297 "v4<>v4 : no keys exchanged until sessions are verified"
On prod backend (no mainlining)
 - Create fresh account.
 - log in on edge. Send messages to DM and private room.
Tchap version: 4.0.5_1.11.9-rc.2
Olm version: 3.2.12
 - Log in on firefox private.
Version de Tchap : 4.0.5_1.11.9-rc.2
Version de Olm : 3.2.12
 - No emoji request appears on either session. Messages in the new session appear encrypted.
 - Click on “resend request” on an encrypted mess

[2022-11-08 17:21] estellecomment commented on #295
Test in prod as well, same result (so it's unrelated to mainlining)

Note that the new device manager only allows verifying the current session, which does not work.
The previous settings allow verifying other sessions, which work.

[2022-11-08 17:23] jdauphant commented on #130
@estellecomment can we link the PR to this ticket ?

[2022-11-08 17:26] jdauphant commented on #130
Found it !
Closed by #277

[2022-11-08 17:41] estellecomment commented on #192
When you log into a new session, you see this :

<img width="1063" alt="image" src="https://user-images.githubusercontent.com/911434/200636647-25feb3c1-3ded-432b-ba82-1588085aa07b.png">

Makes no sense. Should be "Get your messages from your other device" or something.
"Incoming" and "Outgoing" don't really make sense to me either in this case, I would have thought it was outgoing because the new

[2022-11-08 17:42] estellecomment commented on #192
On the new session, when you are done with the emoji verification, you see :
<img width="709" alt="image" src="https://user-images.githubusercontent.com/911434/200637150-45f7c788-fb23-499a-af57-3867af20938d.png">

"This user" is you in both sessions. This is confusing.
Also, instead of worrying tech-spy-language, it should be "now you will see the text of messages" or something, which is what the

[2022-11-08 17:47] estellecomment commented on #192
At the other end, when you are on an existing session and a new session is created, you see this :
<img width="758" alt="image" src="https://user-images.githubusercontent.com/911434/200637610-659f403e-b4e5-42f2-8674-45b28abe12c7.png">
No explanation about what this means.  You don't know which session is being verified.
Could be nice to display the same dialog in both devices so it's easier to und

[2022-11-08 17:49] estellecomment commented on #192
When you are done, on the initial session, you see :
<img width="758" alt="image" src="https://user-images.githubusercontent.com/911434/200638404-f3c511c1-a16f-4e79-88e6-78f53f12cc96.png">

That's not confusing, but not very explanatory either. Could be nice to have the same final dialog on both devices, so that we are sure the information is clear.

[2022-11-08 17:59] estellecomment commented on #192
Miro with designs : https://miro.com/app/board/o9J_lxa1Nm0=/

[2022-11-08 18:07] estellecomment commented on #85
Currently that panel shows :
<img width="675" alt="image" src="https://user-images.githubusercontent.com/911434/200641693-ef1191a9-ca83-40cc-b395-1b56aa7c4081.png">
Missing "import from file".

Once you click on "re-request" you see :
<img width="677" alt="image" src="https://user-images.githubusercontent.com/911434/200641856-ce7c150e-8c6f-4752-84e2-2df7dbaa9ea5.png">
Missing "resend". (refreshing

[2022-11-08 18:08] estellecomment commented on #185
yes I have seen this too, empirically and in the code.

[2022-11-08 18:10] estellecomment commented on #185
After the first dialog screenshoted above, we also need to edit the second, to use our tchap-specific text : (see the Miro for reference https://miro.com/app/board/o9J_lxa1Nm0=/)
<img width="765" alt="image" src="https://user-images.githubusercontent.com/911434/200642431-6649f81b-352b-4cba-9ccb-c855de7a958b.png">
(not sure why "passphrase" is used instead of "password", since we are using the acco

[2022-11-08 18:16] estellecomment commented on #185
Currently, once you export the keys, the file is downloaded, and then you are sent back to the original dialog, "You'll lose access to your encrypted messages". You have to click "I don't want my encrypted messages" to end the flow and log out.

Following the Miro, instead of going back to the original dialog, we want to add a final confirmation dialog.
This was done in v2 here : https://github.co

[2022-11-08 18:21] #283 closed, assigned to nobody

[2022-11-09 09:17] estellecomment commented on #297
Is this because of private window on firefox ? (no indexedDB on private window)

[2022-11-09 12:50] estellecomment opened #300 "Non-user-friendly error when creating extern account without invitation"
When creating an account with an external email, if the email has not been invited beforehand by an existing user, you see this :

<img width="840" alt="Screenshot 2022-11-09 at 12 25 18" src="https://user-images.githubusercontent.com/911434/200834487-8b51479c-0d5c-4c97-85a8-5f19a5350094.png">

It would be more helpful to display something like "People whose email is not from a public sector organ

[2022-11-09 12:54] estellecomment commented on #300
For reference, V2 shows this when you fill in an external email in registration :
<img width="719" alt="image" src="https://user-images.githubusercontent.com/911434/200835406-0d5ace66-e2e3-4d27-9db0-2f56da9749d8.png">

And if you continue registration without invitation anyway, you get :
<img width="713" alt="image" src="https://user-images.githubusercontent.com/911434/200835545-eeceb840-9ee4-4c59

[2022-11-10 08:37] odelcroi commented on #88
I like the idea, it can be an open source contribution.
What do you have in mind to build such "plugin" ? I'm not sure element web have a mecanism to integrate frontend plugin? -> any ideas @weeman1337 ?

I thought of :
 - npm module with a root component to import at app level that will listen to ORG_MATRIX_EXPIRED_ACCOUNT errors and the display panel.

[2022-11-10 08:46] weeman1337 commented on #88
You could check if this https://github.com/matrix-org/matrix-react-sdk-module-api provides an API that enabled you doing what you want. After a quick read opening dialogs should be possible.

If not you could „npm module with a root component to import at app level that will listen to ORG_MATRIX_EXPIRED_ACCOUNT errors and the display panel.“ give a try.

[2022-11-10 10:18] estellecomment opened #301 "Languages : we offer "English" and "English (US)", it's redundant"
Figure out if they are different, and remove one.
(it it because of our tchap_translations.json file ?)

[2022-11-10 10:35] estellecomment opened #302 "Add end-to-end test for logout flow"
We customised the login flow. Test it.

[2022-11-10 13:20] estellecomment commented on #85
v2, version francaise, avec le help tip ouvert :
<img width="627" alt="Screen Shot 2022-11-10 at 2 19 29 PM" src="https://user-images.githubusercontent.com/911434/201102451-4404db87-ff70-4d78-913f-5691a970411d.png">

[2022-11-10 14:02] estellecomment commented on #85
v2, apres avoir cliqué sur "renvoyer une demande à un autre appareil":
<img width="615" alt="Screen Shot 2022-11-10 at 3 01 12 PM" src="https://user-images.githubusercontent.com/911434/201111711-7e970abf-67c6-4174-8c85-48c5cc187f9b.png">

[2022-11-14 09:18] jdauphant commented on #206
@estellecomment The serveur support it

[2022-11-14 11:13] odelcroi commented on #88
## analysis
After a deeper analysis, this is what we need :
1 - Detect error 403 with the code ORG_MATRIX_EXPIRED_ACCOUNT in tchap app lifecycle,
      - suspend the client synchronization
      - trigger a process to renew account
      - display a panel to inform users to renew the account
      - disable any other interactions in the app
2 - Resume the client synchronisation and close the panel

[2022-11-14 17:20] jdauphant commented on #88
Can you just block the UI interaction with an overlay and force reload the app after the validation ?

[2022-11-15 14:21] estellecomment commented on #88
It would be nice for the user to get a visual confimation in tchap-web that the account is successfully renewed. They should see "You have successfully renewed your account" somewhere in the app. If we just reload/resume silently, it may not be clear to the user what happened.

(but maybe first we should get the principle working, and think about UX after :) )

[2022-11-15 15:14] estellecomment opened #305 "Hide section about Tchap Desktop in settings"
In settings, Security and Privacy :
<img width="624" alt="image" src="https://user-images.githubusercontent.com/911434/201955247-2c6f22a5-1b45-4bbc-ad69-22d952615d5d.png">

Tchap Desktop does not exist for now. Hide this section.

[2022-11-15 15:19] estellecomment opened #307 "In settings, text for export/import keys is incoherent in french"
In settings > security and privacy :

In french : import and export buttons use different words
<img width="560" alt="Screen Shot 2022-11-15 at 4 15 27 PM" src="https://user-images.githubusercontent.com/911434/201956250-40b0e0eb-6035-455b-9afe-da4fd74f03d4.png">

In english : same word :
<img width="400" alt="image" src="https://user-images.githubusercontent.com/911434/201956531-a1335af6-51fe-489b

[2022-11-16 09:00] estellecomment opened #308 "Upgrade element-web to 1.11.17 or more (jump 3 versions)"
Right now we have 1.11.12

From the news channel :

1.11.13
hotfix including fixes for session restoration failing when the server cannot be reached as well as password reset not working

1.11.14
improvements around threads
fixes for room & space avatars

1.11.15
 fix for a soft crash around thread notifications

1.11.16
This version includes visual tweaks to replies, improvements to notifications

[2022-11-16 15:55] odelcroi commented on #88
Test cases
- [x] account is expired, user is logged off, user login, the expiration panel is displayed after logging in
- [x] account is not expired, user is logged in, the expiration panel is displayed as soon as the account is expired
- [x] expired panel is open, user requests new email
- [x] expired panel is open, user requests second email before 30 seconds
- [ ] expired panel is open, user re

[2022-11-17 10:10] odelcroi commented on #88
POST requests to expire/renew account (usefull for testing)
[code]

[2022-11-17 13:30] odelcroi commented on #206
@jdauphant do you have any input on where to find that the server supports it?
From the source code, the version expected to enable this option is "r0.6.1" whereas the list of versions that our server returns is : ["r0.0.1", "r0.1.0", "r0.2.0", "r0.3.0", "r0.4.0", "r0.5.0", "r0.6.0"]

https://github.com/matrix-org/matrix-react-sdk/blob/09372fbe8c61ebf17852fac18bf92f1bee34a918/src/components/struct

[2022-11-17 13:38] jdauphant commented on #206
@odelcroi
It's here : https://github.com/matrix-org/synapse-dinsic/blob/1.31.0_dinum_2021_10_05-sygnalrewrite-frozendictfddd/synapse/rest/client/account.py#L289
https://github.com/matrix-org/synapse-dinsic/blob/1.31.0_dinum_2021_10_05-sygnalrewrite-frozendictfddd/synapse/handlers/set_password.py#L52-L66

[2022-11-17 13:40] jdauphant commented on #206
You have the corresponded synapse version deployed in prod : https://github.com/tchapgouv/tchap-infra/blob/2ba0d36e9efeab8b3592996c69cc3fc670868ee4/ansible/inventory-agent/group_vars/agent/synapse#L34

[2022-11-18 08:32] odelcroi commented on #206
- [ ] hack the react component to force the display of the checkbox, and test if it works well in production

[2022-11-18 09:25] estellecomment commented on #206
Sounds good ! I'm starting the work today.

[2022-11-18 10:00] #85 closed, assigned to estellecomment

[2022-11-18 10:08] estellecomment commented on #206
Element-web checks `/_matrix/client/versions` and looks for `r0.6.1` to know if logout devices is supported.
It's in MSC2457 according to comments in element-web.

Our backend returns
[code]

Looking for a way to check if server supports MSC2457 or logout_devices. If I don't find it, I'll just hard-code "true", but it's more fragile.

[2022-11-18 13:41] estellecomment opened #311 ""Forgot password" broken by element-web upgrade to v1.11.12"
"Forgot password" works on localhost with v4.1.0_1.11.10
It is broken on localhost at commit 5d445258c

[2022-11-18 14:20] estellecomment commented on #311
Latest commits, since tag tchap-4.1.0_1.11.10

* 5d445258c 2022-11-15 Merge pull request #284 from tchapgouv/customize-rageshake
* 12c1ea7ec 2022-11-14  Merge pull request #291 from tchapgouv/185-logging-out-no-warning-on-keys-backup
* bf42ea3d0 2022-11-09  Merge pull request #298 from tchapgouv/get-version-from-package-json
* 39ba45814 2022-11-08  Merge pull request #285 from tchapgouv/upgrade/el

[2022-11-18 14:45] estellecomment commented on #311
Yup! element-web merge broke it.
c1b522c72 works (just before element-web upgrade)
39ba45814  is broken (element-web upgrade)

Edit : relevent PRs to see diffs :
Tchap-web : https://github.com/tchapgouv/tchap-web-v4/pull/285/files
React-sdk : https://github.com/tchapgouv/matrix-react-sdk-fork/pull/3/files
Js-sdk : https://github.com/betagouv/matrix-js-sdk-fork/pull/1/files#

[2022-11-18 14:49] estellecomment commented on #206
Delayed because Forgot password is broken for now.
https://github.com/tchapgouv/tchap-web-v4/issues/311

[2022-11-18 16:11] estellecomment commented on #311
OLM versions :

element-web 1.11.10 : olm-3.2.12
element-web 1.11.12 : olm-3.2.12

react-sdk 3.58.1 : olm-3.2.8
react-sdk 3.59.0 : olm-3.2.8

js-sdk 20.1.0 : olm-3.2.12
js-sdk 21.0.0 : olm-3.2.13 -> mismatch with element-web ?

But element-web 1.11.14 with olm-3.2.12 has a working password reset (tested on app.element.io). So probably not.

[2022-11-18 16:21] estellecomment opened #810 "[web] Slider in "off" position looks disabled"
On image below, sliders are : disabled, off, off, on.
<img width="105" alt="image" src="https://user-images.githubusercontent.com/911434/202751837-503621cc-6e10-4d18-8613-2e6e91eef76d.png">

"Off" looks almost the same as "disabled", and I have confused it with disabled. So did Amel, and so did a person who emailed customer support about it.
Grey is commonly used for disabled.

[2022-11-18 16:29] estellecomment commented on #311
I don't see a difference in the requests and responses sent in the two cases.
POST /matrix/client/r0/account/password/email/requestToken
POST /_matrix/client/r0/account/password

The error we get is 401
{"errcode":"M_UNKNOWN_TOKEN","error":"Invalid macaroon passed.","soft_logout":false}
From googling around, it's a problem with the token ?

[2022-11-21 15:26] #88 closed, assigned to odelcroi

[2022-11-22 10:06] #185 closed, assigned to nobody

[2022-11-22 13:03] estellecomment opened #312 "Old verification requests seem to stay for ever"
Qualify the problem. Do normal users have it ?

[2022-11-22 15:19] estellecomment opened #313 "When starting a DM, info message falsely says "Encryption is not enabled""
Create a new DM.
Before you write the first message, the DM is not actually created yet, you see (but maybe not every time ? todo : reproduce it)

![image(4)](https://user-images.githubusercontent.com/911434/203350489-c76fd6e5-31ff-46b5-a64d-88311afeecbc.png)

This is confusing because DMs should have encryption.
(to test : is the created DM encrypted or not ?)

[2022-11-22 16:05] odelcroi commented on #311
The error happens because a "Authorization Bearer undefined" is sent to the server when hitting the /password endpoint.
POST /_matrix/client/r0/account/password
The backend does not like it then return a 401 invalid macaroon

[2022-11-22 16:07] estellecomment commented on #311
Temporary PR : https://github.com/tchapgouv/tchap-web-v4/pull/314/files
Before merging it, it would be good to understand why this is happening.

[2022-11-23 09:50] estellecomment commented on #311
Problem is fixed in 1.11.13, the bad header is not present any more and the forgot password flow works.
So we can either apply the patch or upgrade to 1.11.13.

[2022-11-23 10:24] estellecomment commented on #308
- [ ] remove the patch `remove-authorization-header-in-reset-password` and check that the regression in https://github.com/tchapgouv/tchap-web-v4/issues/311 does not reappear

[2022-11-23 10:45] #311 closed, assigned to estellecomment

[2022-11-23 14:26] odelcroi commented on #307
in V2 :
<img width="732" alt="Capture d’écran 2022-11-23 à 15 24 53" src="https://user-images.githubusercontent.com/4077729/203571226-570a53ca-a691-40d5-b75d-5ce6a1733602.png">

[2022-11-23 15:59] odelcroi commented on #239
https://app.crisp.chat/website/6dacc68e-de3a-4511-8177-1339616098de/inbox/session_47c14606-6e6f-42bc-b4c7-245a24ac2036/

[2022-11-24 13:16] odelcroi opened #316 "chore: add a copyright header to all files"
### Steps to reproduce

Which one?

### Outcome

Automatically with a tool ?

### Operating system

_No response_

### Browser information

_No response_

### URL for webapp

_No response_

### Application version

_No response_

### Homeserver

_No response_

### Will you send logs?

No

[2022-11-25 09:09] estellecomment commented on #206
Design ticket for the backend templates : https://github.com/tchapgouv/tchap-design/issues/97

[2022-11-25 10:16] jdauphant opened #317 "As an user, I want to see if a member of tchap is disabled"
### Your use case

#### Problem

I want to discuss with someone that disable but I will never get an answer because the person have a disabled account.

#### Solution

Show that the account is disabled (by a color change or a message)

### Have you considered any alternatives?

_No response_

### Additional context

_No response_

[2022-11-28 11:50] mcalinghee opened #318 "Device Verification v4-> any device : "Verification Cancelled" is displayed when success"
1. Click on "Verify" on a new session and follow the verification process with the emoji :
<img width="1021" alt="Screenshot 2022-11-28 at 12 20 23" src="https://user-images.githubusercontent.com/3725676/204290888-b43826d5-1f84-4f64-a7d1-7f4ed5bd3543.png">

2. When the verification is a success the pop up "Verification Cancelled" is displayed
<img width="748" alt="Screenshot 2022-11-28 at 12 34 31

[2022-11-28 11:51] mcalinghee opened #319 "Device Verification v4-> iphone : Display QR Code"
1. Click on "Verify" on a new session with iphone :
<img width="1021" alt="Screenshot 2022-11-28 at 12 20 23" src="https://user-images.githubusercontent.com/3725676/204291011-dad25928-5be8-4c28-bbe6-0b1067ab724f.png">

2. A QR Code is suggested to verify the device
![image](https://user-images.githubusercontent.com/3725676/204291271-e585762e-ecf5-4cb9-8104-dc78ccb8cbfa.png)

3. When the verificati

[2022-11-28 15:23] Caroline-lawson opened #320 "Correct a typo"
### Your use case

Paramètres > Sécurité et Vie Privée > Sauvegarde Sécurisée

![image](https://user-images.githubusercontent.com/78041311/204314132-6bc2ae45-c085-4434-af8b-069f028a2d95.png)

Change "sécurisés" to "sécurisées".

### Have you considered any alternatives?

_No response_

### Additional context

_No response_

[2022-11-30 15:06] #307 closed, assigned to odelcroi

[2022-11-30 15:06] #320 closed, assigned to nobody